@{     
    
    Layout = "~/bunks/Shared/Layouts/_AdminLayout.cshtml";     
    Page.Title = "Delete ExtraCurricular Result";          
    
    var extraCurricularResultID = UrlData[0];     
    if (extraCurricularResultID.IsEmpty()) {          
        Response.Redirect("~/bunks/Admin/ExtraCurricula/");     
    }          
    
    var db = Database.Open("BunksAndBiddlesSchool");          
    
    if (IsPost)    
     {         
         var sqlDelete = "DELETE FROM ExtraCurricularResults WHERE extraCurricularResultID = @0";         
         db.Execute(sqlDelete, extraCurricularResultID);         
         Response.Redirect("~/bunks/Admin/ExtraCurricula/");
     }  

    var sqlSelect = "SELECT * FROM ExtraCurricularResults WHERE extraCurricularResultID = @0";
    var results = db.QuerySingle(sqlSelect, extraCurricularResultID);   
        } 

 <p>         
        Are you sure you want to delete the @results.AdmissionNo classes?     
    </p>     
       
    <form action="" method="post" id="deleteForm">             
        <input class="win-button" type="button" onclick="window.location = '@Href("~/bunks/Admin/ExtraCurricula/")';" value="Cancel" />    
        <input class="win-button" type="submit" value="Delete" />         
    </form>     

 
