@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}


	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">For Today and Tomorrow. </h1>

  </header>


     
				<div class="row">
                    
                        
						<pre  >

<span class="win-type-body" >An endowment fund can be compared to a long-term investment or savings plan. It is a “permanent” fund in which the principal is invested and the earnings are spent. A strong endowment allows the school to provide dynamic programming, recruit a diverse community of learners, and cover the operating costs that come with innovative facilities. Our endowment relieves pressure on tuition and annual giving, ensuring the continued affordability of our Bunks education
    </span>

</pre>


					</div>	
				</div>



        	   @RenderPage("~/Shared/Partials/_GivingLinks.cshtml")
		</div>	
		


