@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}

<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-subheader" style="color: #000;">What is planned giving?</h1>

  </header>
				<div class="row">

						<pre  >

<span class="win-type-body" >

Planned giving includes a variety of philanthropic strategies that will allow you to donate assets to support the school, yet defer the time that the gifts are received. In many cases, a planned gift enables you to make a significantly greater contribution than would be possible through an outright gift. The best gift plans require careful thought and analysis of income, estate and tax consequences, and we strongly recommend you consult with your attorney or tax advisor to determine the best way to include Bunks in your will or estate planning.
 
    </span>
</pre>
				</div>

@RenderPage("~/Shared/Partials/_GivingLinks.cshtml")
 
</div>