@{
    Layout = "~/Shared/layouts/_layout.cshtml";

   
}

   


     	<aside >
							<div id="two-columns" class="grid-container" style="display:block;">
			<ul class="rig columns-2">
				<li>
					<img alt="img1" src="~/Images/6.jpg" />
					
				</li>
				<li>
					<img alt="img2"  src="~/images/4.jpg" />
					
				</li>
				
			</ul>
		</div>
					</aside>



	<div class="content">

          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Strategic School Improvement</h1>
              <p></p>
  </header>


        
          
				<div class="row">


                    
					
                        
						<pre  >
<span class="win-type-subheader" >We are opening a new School this year</span>
<span class="win-type-title" >
In looking at our wonderful campus, we have identified a few key areas to repurpose to make the best use of our current space. These strategic improvements will allow us to highlight our expanding programs.
    </span>
<span class="win-type-body"> 
    To build on our engineering program, a dedicated center will allow us to offer classes to our Upper School and Middle School students as well as summer and evening opportunities 
    for the whole community. This innovative center will be in the location of the current weight room and will be completed this spring.
</span>

</pre>
				
					
				</div>

        	




     


			
		
		</div>




<div >@RenderPage("~/Shared/Partials/_GivingLinks.cshtml")</div>
  