@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}
       	
               	<aside >
							<div id="two-columns" class="grid-container" style="display:block;">
			<ul class="rig columns-2">
				<li>
					<img alt="img1" src="~/Images/5.jpg" />
					
				</li>
				<li>
					<img alt="img2"  src="~/images/3.jpg" />
					
				</li>
				
			</ul>
		</div>
					</aside>
             

	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Giving to Bunks &amp; Biddles</h1>
<p></p
>
  </header>
				<div class="row">
                    
			
                        
						<pre  >
<span class="win-type-subheader" >Making meaningful memories is what we strive to do every day while providing the best possible education for our students.</span>
<span class="win-type-body" >
We are so proud of our experienced teachers, talented students, and caring parents. It’s our collaborative community that makes our school really shine.
 
To provide top-notch professional development for our teachers, administers, and staff as well as supporting our programs and enhancing the classroom environment, we count on your generous support. With your help, we offer our best – each and every day – to our students from now into the future.
 
If you value the Bunks experience, we invite you to contribute to the success of our students to prepare them for what’s ahead.
    </span>

</pre>
					</div>
				</div>


@RenderPage("~/Shared/Partials/_GivingLinks.cshtml")