@{
    Page.Title = "About Us";
  
    Layout = "~/Shared/layouts/_BlogLayout.cshtml";


}



  
   



	<section class="grid">
                    
      	
          
          <div class="column">

           <h1> About Us </h1>
	 <p> We created Trinity Lyrics as a way to find lyrics for Christian music easier, faster, and more efficient.
        
    </p>
				</div>
					
			  <div class="column">
      
        </div>	
              </section>
          <section class="content">
					<div class="scroll-wrap">
						
						
						
					</div>
					<button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
				</section>

 
