@{
   Layout = "~/Shared/layouts/_BlogLayout.cshtml";

}



			

			
				
					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--half">
								<h1 class="mockup-heading mockup-heading--large paint-area paint-area--text">We help tell you stories <span class="mockup-heading__subline">The most efficient toolset for businesses</span></h1>
								<button class="mockup-button paint-area"><span>Discover more</span> <i class="fa fa-chevron-right"></i></button>
							</div>
							<figure class="mockup-grid__item mockup-width--half">
								<div class="mockup-img mockup-img--large">
									<i class="fa fa-picture-o"></i>
								</div>
							</figure>
						</div><!-- /mockup-grid -->
					</section>
					<section class="mockup-section mockup-section--dark paint-area">
						<div class="mockup-content mockup-grid">
							<h2 class="mockup-heading mockup-heading--single paint-area paint-area--text">Our Topics will always cover</h2>
							<figure class="mockup-grid__item mockup-width--third">
								<div class="mockup-img"><i class="fa fa-picture-o"></i></div>
								<figcaption class="mockup-caption mockup-caption--box paint-area">
									<h3 class="paint-area paint-area--text">Parenting</h3>
									<p class="paint-area paint-area--text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</figcaption>
							</figure>
							<figure class="mockup-grid__item mockup-width--third">
								<div class="mockup-img"><i class="fa fa-picture-o"></i></div>
								<figcaption class="mockup-caption mockup-caption--box paint-area">
									<h3 class="paint-area paint-area--text">Games</h3>
									<p class="paint-area paint-area--text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</figcaption>
							</figure>
							<figure class="mockup-grid__item mockup-width--third">
								<div class="mockup-img"><i class="fa fa-picture-o"></i></div>
								<figcaption class="mockup-caption mockup-caption--box paint-area">
									<h3 class="paint-area paint-area--text">Others</h3>
									<p class="paint-area paint-area--text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</figcaption>
							</figure>
						</div><!-- /mockup-grid -->
					</section>
					
			
	