@{
    
}
<section class="grid">
                    
      <div class="column">
        
       <p> For any song suggestions<br />
            contact us at <b>trinitylyrics3@gmail.com</b> <br />
            or at +254 712345678</p>
         </div>
    <div class="column">



        
        
        
        
        
      <h1> Our Location </h1>            
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7378662436668!2d36.73378051475411!3d-1.3334416990274516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1b26fef6dd09%3A0x6d6e36978f7182d0!2sBunks+And+Biddles+School!5e0!3m2!1sen!2s!4v1496056292193" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

     
   


        </div>
  
          
       
					
					
              </section>
          <section class="content">
					<div class="scroll-wrap">
						
						
						
					</div>
					<button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
				</section>