@{
    Layout = "~/Shared/layouts/_layout.cshtml";

}

  <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">
				
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="0" data-slice2-rotation="0" data-slice1-scale="0" data-slice2-scale="0">
						<div class="sl-slide-inner">
							<div class="bg-imgTwo bg-img-1"></div>
                          
							
							<h2>where sounds and rhythm are a delight</h2>
						</div>
					</div>
					
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="0" data-slice2-rotation="0" data-slice1-scale="0" data-slice2-scale="0">
						<div class="sl-slide-inner">
							<div class="bg-imgTwo bg-img-2"></div>
							<h2>where passion is discovered</h2>
							
						</div>
					</div>
					
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="0" data-slice2-rotation="0" data-slice1-scale="0" data-slice2-scale="0">
						<div class="sl-slide-inner">
							<div class="bg-imgTwo bg-img-3"></div>
							<h2>where there is confidence to do amazing work</h2>
							
						</div>
					</div>
					
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="0" data-slice2-rotation="0" data-slice1-scale="0" data-slice2-scale="0">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-4"></div>
							<h2>where curiosity directs interest</h2>
							
						</div>
					</div>
					
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="0" data-slice2-rotation="0" data-slice1-scale="0" data-slice2-scale="0">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-5"></div>
							<h2>where senses are awoken through experiencing</h2>
							
						</div>
					</div>


                    <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-6"></div>
							<h2>where we support the full potential of a child </h2>
							
						</div>
					</div>

                     <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-8"></div>
							<h2>where we delight in the truth </h2>
							
						</div>
					</div>
				</div><!-- /sl-slider -->

				<nav id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
                    <span></span>
                    <span></span>
				</nav>

			</div>

<!-- /slider-wrapper -->

					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--full">
								<h1 class="mockup-heading mockup-heading--large paint-area paint-area--text"><span class="mockup-heading__subline win-type-subtitle"> The very heart of our mission at Bunks & Biddles Schools is 
                    to provide every student with character development established 
                    on Biblical foundation, helping them be the Light of the World
                     through SOARING values. Self – motivated learning and exploring 
                    come together in a conducive environment offering wholesome, practical education. </span></h1>
								
                                 
							</div>
                          
							
						</div><!-- /mockup-grid -->
					</section>
					<section class="mockup-section mockup-section ">
                        
						<div class="mockup-content mockup-grid">
							
							<figure class="mockup-grid__item mockup-width--third">
							
								
							</figure>
							<figure class="mockup-grid__item mockup-width--third">
							
								
									
									<a href="~/Admission/Visit" class="mockup-button paint-area"><span>Visit Us</span> <i class="fa fa-chevron-right"></i></a>
								
							</figure>
							<figure class="mockup-grid__item mockup-width--third">
								
								
							</figure>
						</div><!-- /mockup-grid -->
					</section>
                    	
	
			
        
        
        <!-- /mockup-browser -->

  <section class="mockup-section paint-area color-5">
						<div class="mockup-content mockup-grid">
                            	<div class="mockup-grid__item mockup-width--half color-13">
                     
                                    <img width="100%" src="~/Images/BunksFlyer.png" alt="Flyer"></img>     
                         
	</div>
                            <div class="mockup-grid__item mockup-width--half">
                                @RenderPage("~/Shared/Partials/_Events.cshtml") 
                                </div>
						</div><!-- /mockup-grid -->
					</section>
    <section class="mockup-section paint-area ">
						<div class="mockup-content mockup-grid">
                            	<div class="mockup-grid__item mockup-width--full">
                                   
                            <p class="win-type-header">&#xE19F;  #WeAreWorking </p>
                                  




	</div>
						</div><!-- /mockup-grid -->
					</section>

                 
     
				
          
						
                               @RenderPage("~/Shared/Partials/_Testimonials.cshtml")  

					
					            
				

  	



	
					<section class="mockup-section paint-area color-5">
						<div class="mockup-content mockup-grid">
							<h2 class="mockup-heading mockup-heading--single paint-area paint-area--text">Our Schools</h2>
							<figure class="mockup-grid__item mockup-width--half">
								<div class="mockup-img"><i class="fa fa-picture-o"></i></div>
								<figcaption class="mockup-caption mockup-caption--box paint-area">
									<h3 class="paint-area paint-area--text">Karen School</h3>
									<button class="mockup-button paint-area"><span>Discover more</span> <i class="fa fa-chevron-right"></i></button>
								</figcaption>
							</figure>
							<figure class="mockup-grid__item mockup-width--half">
								<div class="mockup-img"><i class="fa fa-picture-o"></i></div>
								<figcaption class="mockup-caption mockup-caption--box paint-area">
									<h3 class="paint-area paint-area--text">Lavington School</h3>
									
								</figcaption>
							</figure>
							
						</div><!-- /mockup-grid -->
					</section>


    <script>
        function initialize() {
            toggleSticky();
        }
    </script>
    <script>
        function toggleSticky() {
            var checkBox = document.getElementById("togglestickybox"),
                settingsFlyout = document.getElementById("settingsFlyout").winControl;
            settingsFlyout._sticky = (checkBox.checked) ? true : false;
        }
    </script>




    <div id="settingsFlyout" class="win-settingsflyout" data-win-control="WinJS.UI.SettingsFlyout" data-win-options="{width: 'narrow'}">
        	 
        <p style="text-align: center; color: #000;" class="win-type-body">Book your spot in advance and come join us</p>
       
           <h1 style="text-align: center; color: #f00;" class="win-type-header"> </h1>    

</div>



            
    </div>



<!-- 
		   <fieldset>         
         <legend>Share</legend> 
         <p>@GooglePlusOne.PlusOneButton() </p> 
          
        
         </p>
                   
         <p>            
              @{ 
                 string currentUrl = Request.Url.ToString(); 
                 }             
        
         </p>     
     </fieldset>   			
  

-->
 
   


 	



	

  

	
         
					

                             
                             	
                                 
                                       

                               
						
                         
							
						
				






         

		
               
               