@{
  Layout = "~/Shared/Layouts/_LinkedLayout.cshtml";  
 
  var newsCategoryTitle = UrlData[0];

  if (newsCategoryTitle.IsEmpty())
  {
      Response.Redirect("/Default");
  }

  Page.Title = newsCategoryTitle;

  var db = Database.Open("BunksWebsite");
  var sqlSelect = "SELECT newsID, newsTitle, newsBody, newsActive FROM  News " +
                    "LEFT OUTER JOIN NewsCategories ON News.category = NewsCategories.categoryID " +
                    "WHERE NewsCategories.newsCategoryTitle = @0";

 var news = db.Query(sqlSelect, newsCategoryTitle);
    
}




@if (news.Count() == 0 )
{
    <p class="win-type-subheader">No Events and News Found on this topic</p>
}
else 
{

    <ul > 
        @foreach ( var item in news){

           <h1 class="win-type-header"> @item.newsTitle </h1>
           <p class="win-type-body"> @item.newsBody </p>
            
        } 

    
    </ul>



    
}