@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}

<style>
.element
{
    height: 50px;
    width: 120px;
    margin: 0px 20px 10px 20px;
    text-align: center;
    color: white !important;
    background: #808080;
}

#expandedItem
{
    background: #00B6FF;
}

    
    
</style>

<div class="box">
    <p>Use the Expand and Collapse animations to expand or collapse UI.</p>
    <button class="win-button" >Expand</button><br /><br />
    <div id="output">
        <div class="element" id="runAnimation"></div>
        <div id="expandedItem" class="element">Expanded area</div>
        <div class="element affectedItem"></div>
         <div id="expandedItemTwo" class="element">Expanded area</div>
        <div class="element affectedItem"></div>
    </div>
</div>


<script type="text/javascript">

var runAnimation = document.getElementById("runAnimation");
var expandedItem = document.getElementById("expandedItem");
var runAnim = document.getElementById("runAnim");
var expandedItemTwo = document.getElementById("expandedItemTwo");

function toggleExpandOrCollapse() {
    if (expandedItem.style.display === "none") {
        expand(expandedItem, document.querySelectorAll(".affectedItem"));
        runAnimation.textContent = "Collapse";
    } else {
        collapse(expandedItem, document.querySelectorAll(".affectedItem"));
        runAnimation.textContent = "Expand";
    }
}

function toggleExpandOrCollapseTwo() {
    if (expandedItemTwo.style.display === "none") {
        expand(expandedItemTwo, document.querySelectorAll(".affectedItem"));
        runAnim.textContent = "Collapse";
    } else {
        collapse(expandedItemTwo, document.querySelectorAll(".affectedItem"));
        runAnim.textContent = "Expand";
    }
}

function expand(element, affected) {
    // Create expand animation.
    var expandAnimation = WinJS.UI.Animation.createExpandAnimation(element, affected);

    // Insert expanding item into document flow. This will change the position of the affected items.
    element.style.display = "block";
    element.style.position = "inherit";
    element.style.opacity = "1";

    // Execute expand animation.
    expandAnimation.execute();
}

function collapse(element, affected) {
    // Create collapse animation.
    var collapseAnimation = WinJS.UI.Animation.createCollapseAnimation(element, affected);

    // Remove collapsing item from document flow so that affected items reflow to their new position.
    // Do not remove collapsing item from DOM or display at this point, otherwise the animation on the collapsing item will not display
    element.style.position = "absolute";
    element.style.opacity = "0";

    // Execute collapse animation.
    collapseAnimation.execute().done(
        // After animation is complete, remove from display.
        function () { element.style.display = "none"; }
    );
}

runAnimation.addEventListener("click", toggleExpandOrCollapse, false);
expandedItem.style.display = "none";

runAnim.addEventListener("click", toggleExpandOrCollapseTwo, false);
expandedItemTwo.style.display = "none";




</script>