@{
     Layout = "~/Shared/layouts/_CalenderLayout.cshtml";
    
}




    <script>
        function initialize() {
            toggleSticky();
        }
    </script>
    <script>
        function toggleSticky() {
            var checkBox = document.getElementById("togglestickybox"),
                settingsFlyout = document.getElementById("settingsFlyout").winControl;
            settingsFlyout._sticky = (checkBox.checked) ? true : false;
        }
    </script>



    <button class='win-button' onclick="document.querySelector('.win-settingsflyout').winControl.show()">Show Settings Flyout</button>
    <input id="togglestickybox" type="checkbox" onclick="toggleSticky();" checked="checked" /><label for="togglestickybox">_sticky settings</label>

    <div id="settingsFlyout" data-win-control="WinJS.UI.SettingsFlyout" data-win-options="{width: 'narrow'}">
        
    </div>

