@{
    var db = Database.Open("BunksAndBiddlesSchool");
    var sqlSelect = "SELECT * FROM ParentProfile;";
    
}
<h1 class="win-type-body" style="color: #dd353b"  ><br/></h1>
      <h1 class="win-type-body" style="color: #dd353b"  >&#xE1A6; Classes</h1>
  <hr/>
<ul  > @foreach (var parentID in db.Query(sqlSelect)) 
    { 
       
      <li class="win-type-header"><a href="/bunks/Students/@parentID.parentID">@parentID.Email</a>
    </li> 
     } 
</ul> 
