<form action="../bunks/SearchKinder.cshtml" method="post">
  <span class="input input--makiko">
					<input style="color: #000; width: 100%; " class="input__field input__field--makiko" type="text" name="searchTerm" id="input-16" />
					<label class="input__label input__label--makiko" for="input-16">
						<span class="input__label-content input__label-content--makiko">Search</span>
					</label>
				</span>

    	
    </form>

		