@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}


@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
  background-color: #3A505F;
  margin: 0;
  font-family: 'Segoe UI Light';
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}
#taskbar {
  height: 40px;
  background-color: #004275;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
#taskbar .startbar-icon {
  width: 40px;
  height: 40px;
  margin-right: 1px;
}
#taskbar .taskbar-item {
  display: inline-block;
  float: left;
}
#taskbar #tgl-start {
  display: none;
}
#taskbar #tgl-start:checked ~ #startmenu {
  opacity: 0.95;
  bottom: 40px;
  visibility: visible;
}
#taskbar #tgl-start:checked ~ #start {
  background-color: #005A9E;
}
#taskbar #start {
  display: inline-block;
  width: 48px;
  height: 40px;
  background-color: #004275;
}
#taskbar #start .win-icon {
  display: inline-block;
  margin-left: 3px;
  width: 40px;
  height: 100%;
  background-color: #FFF;
  position: relative;
  transform: scalex(0.45) scaley(0.35) perspective(50px) rotatey(-25deg);
}
#taskbar #start .win-icon:before {
  content: "";
  display: block;
  background-color: #004275;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
}
#taskbar #start .win-icon:after {
  content: "";
  display: block;
  background-color: #004275;
  height: 100%;
  width: 3px;
  position: absolute;
  left: 50%;
  margin-left: -1.5px;
}
#taskbar #start:hover {
  background-color: #005A9E;
}
#taskbar #start:hover > .win-icon {
  background-color: #429CE3;
}
#taskbar #start:active > .win-icon {
  background-color: #0078D7;
}
#taskbar #startmenu {
  min-width: 256px;
  background-color: #005A9E;
  position: absolute;
  z-index: -1;
  bottom: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s, bottom 0.25s;
  padding: 10px 14px 4px 14px;
  sborder-right: 1px solid #4E4E4E;
}
#taskbar #startmenu .startmenu-label {
  color: #99BDD8;
  margin-left: 3px;
  line-height: 30px;
  margin-top: 10px;
}
#taskbar #startmenu .startmenu-option,
#taskbar #startmenu .startmenu-user,
#taskbar #startmenu .startmenu-app {
  color: #FFF;
  line-height: 36px;
  height: 36px;
  font-size: 14px;
}
#taskbar #startmenu .startmenu-option:hover,
#taskbar #startmenu .startmenu-user:hover,
#taskbar #startmenu .startmenu-app:hover {
  background-color: #196AA8;
  cursor: default;
}
#taskbar #startmenu .startmenu-option.more::after,
#taskbar #startmenu .startmenu-user.more::after,
#taskbar #startmenu .startmenu-app.more::after {
  width: 40px;
  text-align: center;
  content: '\e00f';
  font-size: 0.6em;
  line-height: 36px;
  font-family: 'Segoe MDL2 Assets';
  float: right;
  display: inline-block;
}
#taskbar #startmenu .startmenu-option.more::after:hover,
#taskbar #startmenu .startmenu-user.more::after:hover,
#taskbar #startmenu .startmenu-app.more::after:hover {
  background-color: #3079B1;
}
#taskbar #startmenu .startmenu-app .win-icon {
  height: 32px;
  width: 32px;
  margin-top: 2px;
  border: 4px solid;
}
#taskbar #startmenu .startmenu-app .win-icon.gray {
  background-color: #323232;
  border-color: #323232;
}
#taskbar #startmenu .startmenu-app .win-icon.blue {
  background-color: #0078D7;
  border-color: #0078D7;
}
#taskbar #startmenu .startmenu-app .win-icon.purple {
  background-color: #8E4F89;
  border-color: #8E4F89;
}
#taskbar #startmenu .startmenu-app .win-icon.green {
  background-color: #39825A;
  border-color: #39825A;
}
#taskbar #startmenu .startmenu-user .win-icon {
  border-radius: 100%;
  height: 32px;
}
#taskbar #search {
  display: inline-block;
  width: 344px;
  height: 100%;
  background-color: #336790;
  color: #99B3C7;
}
#taskbar #search::before {
  content: "";
  display: inline-block;
  float: left;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  z-index: 2;
  box-shadow: 0 0 2px 2px #FFF;
  margin: 12px;
}
#taskbar #search::after {
  content: "Ask me anything";
  display: inline-block;
  font-size: 1em;
  line-height: 40px;
}
#taskbar #search:hover {
  background-color: #4C7A9E;
}
#taskbar #tgl-search {
  display: none;
}
#taskbar #tgl-search:checked ~ #search-menu {
  opacity: 1;
  bottom: 39px;
  visibility: visible;
}
#taskbar #tgl-search:checked ~ #search {
  outline: none;
  background-color: #F2F4F6;
  padding: 0 12px;
  cursor: text;
}
#taskbar #tgl-search:checked ~ #search::before {
  display: none;
}
#taskbar #tgl-search:checked ~ #search::after {
  color: #000;
}
#taskbar #tgl-search:checked ~ #dictate {
  color: #616263;
  background-color: #F2F4F6;
}
#taskbar #dictate {
  background-color: #336790;
  text-align: center;
  line-height: 40px;
  pointer-events: none;
  width: 40px;
  height: 40px;
  color: #99B3C7;
  font-family: 'Segoe MDL2 Assets';
}
#taskbar #dictate:hover {
  background-color: #2E5C80;
  border: 1px solid #29628E;
}
#taskbar #search-menu {
  font-family: 'Segoe UI';
  width: 432px;
  position: absolute;
  z-index: -1;
  background-color: #171717;
  bottom: 0px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, bottom 0.25s;
  padding: 10px 14px 4px 14px;
  box-shadow: 1px -1px 0 0 rgba(0, 0, 0, 0.1);
  min-height: 580px;
}
#taskbar #search-menu #search-menu-options {
  width: 48px;
  height: 100%;
  background-color: #004275;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
#taskbar #search-menu #search-menu-cortana {
  width: 100%;
  height: 120px;
  padding: 16px 36px 16px 84px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: #0063B0;
  font-size: 1.325em;
}
#taskbar #search-menu #search-menu-cortana::before {
  content: "";
  display: block;
  margin: auto;
  width: 22px;
  height: 22px;
  border: 2px solid #0161AD;
  border-radius: 100%;
  box-shadow: 0 0 3px 3px #0C3C62;
  margin-bottom: 7px;
}
#taskbar #search-menu #search-menu-cortana::after {
  content: "\E8D6";
  font-family: 'Segoe MDL2 Assets';
  color: #A2A2A2;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  right: 0;
  line-height: 48px;
  text-align: center;
}
#taskbar #search-menu #notebook {
  width: 100%;
  padding-left: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 460px;
}
#taskbar #search-menu #notebook .notebook-card {
  background-color: #FFF;
  margin-bottom: 4px;
}
#taskbar #search-menu #notebook .notebook-card .notebook-card-section {
  border-top: 1px solid #EEE;
  padding: 28px 23px;
}
#taskbar #search-menu #notebook .notebook-card .notebook-card-section > * {
  cursor: pointer;
}
#taskbar #search-menu #notebook .notebook-card .notebook-card-section .title {
  display: block;
  margin-bottom: 12px;
}
#taskbar #search-menu #notebook .notebook-card .notebook-card-section .title,
#taskbar #search-menu #notebook .notebook-card .notebook-card-section .info-detail {
  color: #767676;
}
#taskbar #search-menu #notebook .notebook-card .notebook-card-section .info,
#taskbar #search-menu #notebook .notebook-card .notebook-card-section .info-detail {
  display: block;
  line-height: 20px;
}
#taskbar #search-menu #notebook .notebook-card .notebook-card-section .info {
  color: #000;
  margin-top: 2px;
}
#taskbar #search-menu #notebook .notebook-card .notebook-card-section .section-icon {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
#taskbar .win-icon {
  font-size: 1.25em;
  margin-right: 8px;
  margin-left: 3px;
  line-height: 36px;
  font-family: 'Segoe MDL2 Assets';
  float: left;
  width: 32px;
  text-align: center;
}






#clockdiv{
   
    color: #ffffff;
    width: 100%;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    
    background: #333;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;

    background: #707070;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
 
}


/* When the input field gets focus, change its width to 100% */



html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


a {
	color: #808080;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #626060;
    
	box-shadow: inset 0 -1px rgba(0,0,0,0);

     border-bottom: 1px solid #626060;
     -webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-perspective: 600px;
	perspective: 600px;
	-webkit-perspective-origin: 50% 100%;
	perspective-origin: 50% 100%;
}


input[type="text"], input[type="number"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}
input[type="text"], input[type="number"]:focus {
  outline: none;
}

/* lists */
ul.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}
ul.input-list li {
  display: block;
  padding: 0 10px;
  width: 50%;
  float: left;
}

@media all and (max-width: 800px) {
  ul.input-list {
    margin: 0;
  }
  ul.input-list li {
    padding: 0;
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}
/* ============================================================
  STYLE 1
============================================================ */
.style-1 input[type="text"], input[type="number"] {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"], input[type="number"]:focus, .style-1 input[type="text"], input[type="number"].focus {
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

/* ============================================================
  STYLE 2
============================================================ */
.style-2 input[type="text"], input[type="number"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
.style-2 input[type="text"], input[type="number"]:focus, .style-2 input[type="text"], input[type="number"].focus {
  border: solid 5px #969696;
}

/* ============================================================
  STYLE 3
============================================================ */
.style-3 input[type="text"], input[type="number"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  -webkit-box-shadow: inset 0 0 0 1px #707070;
  -moz-box-shadow: inset 0 0 0 1px #707070;
  box-shadow: inset 0 0 0 1px #707070;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-3 input[type="text"], input[type="number"]:focus, .style-3 input[type="text"], input[type="number"].focus {
  border: solid 5px #969696;
}

/* ============================================================
  STYLE 4
============================================================ */
.style-4 input[type="text"], input[type="number"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
.style-4 input[type="text"], input[type="number"]:focus, .style-4 input[type="text"], input[type="number"].focus {
  border-bottom: solid 2px #969696;
}

/* ============================================================
  STYLE 5
============================================================ */
.style-5 input[type="text"], input[type="number"] {
  padding: 10px;
  border: solid 1px #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0 #707070;
  -moz-box-shadow: inset 1px 1px 2px 0 #707070;
  box-shadow: inset 1px 1px 2px 0 #707070;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.style-5 input[type="text"], input[type="number"]:focus, .style-5 input[type="text"], input[type="number"].focus {
  -webkit-box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  -moz-box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}


/* Header Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}


.container > header,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
	color: #fff;
    height: 300px;
	background: rgba(221, 53, 59, 0.64);
}

.container > header {
	margin: 0 auto;
	padding: 0em 0em 0em;
	
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;

}
.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}



#headerRight{     float:right;     margin-right: 20px; }  

/* Flyout buttons */
.win-flyout:not(.win-menu) button,
.win-flyout:not(.win-menu) input[type="button"]
{
    margin-top: 16px;
    margin-left: 20px;
    float: right;
}

#status {
    color: green;
}
 


/* Main Content */
.main {
	max-width: 69em;
}

.column {
	float: left;
	width: 100%;
	padding: 0 2em;
	min-height: 150px;
	position: relative;
}

.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}

.column p {
	font-weight: 300;
	font-size: 1.2em;
 
	padding: 0;
	margin: 0;
	text-align: left;

}

.subjectColumn {
    	float: left;
	width: 49%;
	padding: 0em 0em 0em 0.1em;
	min-height: 50px;
	position: relative;
}

.default {
    background: url(../Images/bunks.jpg) repeat-x fixed 100% 0;
    
}

.schools {
    /*there is nothing here . only meant to support The JS Anim Code*/
}

@media screen and (max-width: 46.0625em) {
    
   
   
    

	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 1em; 
	}

	.column p {
		text-align: left;
        font-size: #fff;
		font-size: 1.0em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	
}

.grading-section {
	min-height: 100vh;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	
	
}

.grading-section {
	padding: 1em 0 4em;
	min-height: 100vh;
	position: relative;
}

.grading-section__title {
	font-size: 0.7em;
	font-weight: 700;
	margin: 1.5em 0 2.5em;
	flex: none;
}

.grading-section a {
	color: #333;
}

.grading-section a:hover, 
.grading-section a:focus {
	color: #000;
}

.bg-1 {
	background: #c00119;
	background-size: cover;
	color: #fff;
}

.bg-2 {
	background: #333 url(../img/blackboard.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
}

.bg-3 {
	color: #1c1e22;
	background: #fff;
}

.bg-4 {
	background: #30353c;
	color: #4e5154;
}

.bg-5 {
	background: #514B48;
	color: #7D746F;
}

.bg-6 {
	background: #1d211f;
	color: #6ed19f;
}

.bg-7 {
	color: #C3E9F5;
	background: linear-gradient(45deg, #7e67e5, #02cbdf);
}

.bg-8 {
	background: #383e4c;
	color: #fff;
}

.bg-9 {
	background: #efb7b7;
	color: #382628;
}

.bg-10 {
	color: #eaebed;
}

.bg-11 {
	background: #f7faf9;
}

.bg-12 {
	background: #999;
	color: #7a90ff;
}

.bg-12 p {
	color: #fff;
	text-align: center;
}

.bg-12 a {
	color: #fff; 
	font-weight: bold;
}

.kinderList {
    list-style: none;
}

 #classes  ul {
     height: 100%;
     margin: 0;
    font-size: 0.95em;
	padding: 0;
	list-style: none;
    z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
     box-shadow: 0 -1px 0 rgba(0,0,0,0.1);   
    }

    #classes  ul li {
  display: block;
	color: #fff;
	font-size: 0.8em;
	line-height: 3.5;
	padding: 0 20px;
	cursor: pointer;
	
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
    }

#classes ul li:first-child a {
}


    #classes  ul li:hover {
    background: rgba(239, 65, 53, 0.25);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
     border-left: 6px solid #dd353b;
     -webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-perspective: 600px;
	perspective: 600px;
	-webkit-perspective-origin: 50% 100%;
	perspective-origin: 50% 100%;
    }


.detailColumn {
	float: right;
	width: 49%;
	padding: 0em 0em 0em 0.5em;
	min-height: 150px;
	position: relative;
}

.detailColumn:nth-child(2) {
	box-shadow: 0 -1px  0 rgba(0,0,0,0.1);
}


.detailColumn p {
	font-weight: 300;
	font-size: 1.5em;
  
	padding: 0 0 3em;
	margin: 0;
	text-align: start;
	line-height: 1.5;
}


.headerColumn {
	float: left;
	width: 100%;
	padding: 1em 0em 1em 1em;
	min-height: 100px;
	position: relative;
}

.headerColumn:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}


.headerColumn p {
	font-weight: 300;
	font-size: 1.5em;
  
	padding: 0 0 2em;
	margin: 0;
	text-align: start;
	line-height: 1.5;
}



.sideColumn {
	float: left;
    width: 33%;
	padding: 0em 0em 0em 1em;
	min-height: 320px;
    box-shadow: 1px 0 rgb(239, 65, 53);
	position: absolute;
}

.sideColumn:nth-child(2) {
	box-shadow: 0 -1px  0 rgba(0,0,0,0.1);
}


.sideColumn p {
	font-weight: 300;
	font-size: 1.5em;
  
	padding: 0 0 3em;
	margin: 0;
	text-align: start;
	line-height: 1.5;
}

.reportColumn {
	float: right;
    width: 67%;
	padding: 0em 0em 0em 1em;
	min-height: 320px;
    box-shadow: 1px 0 rgb(239, 65, 53);
	position: relative;
}

.reportColumn:nth-child(2) {
	box-shadow: 0 -1px  0 rgba(0,0,0,0.1);
}


.reportColumn p {
font-weight: 300;
	font-size: 1.5em;
  
	padding: 0 0 3em;
	margin: 0;
	text-align: start;
	line-height: 1.5;
}


@media screen and (max-width: 46.0625em) {
	
    .detailColumn {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 0 0 0em; 
        border-bottom:5px;
        border-right:5px;
	}

	.detailColumn p {
	
		font-size: 1.5em;
	}
    .detailColumn h1{
    text-align: left;
}

	.detailColumn:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}

.headerColumn {
		width: 100%;
		
		padding: 0 0 0em; 
        border-bottom:5px;
        border-right:5px;
	}

	.headerColumn p {
	
		font-size: 1.5em;
	}
    .headerColumn h1{
    text-align: left;
}

	.detailColumn:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}



@media screen and (max-width: 800px){
	 

	 .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	#classes,
	.content {
		font-size: 50%;
	}
}

    .logo a {
    background: #dd353b;
        float: left;
       width: 100%;
        font-size: 1em;
    }

    /* Student List ---------------------------------*/
    #studentList {
   
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    #studentList li {
        float: left;
        margin: 12px;
        width: 215px;
    }

    #studentList h3 {
        font-size: 1.75em;
        font-weight: normal;
        margin-bottom: 5px;
        padding: 0px;
    }

    #studentList .price {
        font-size: 1em;
        font-style: italic;
        color: #999;
    }
    /* student Details 
    ---------------------------------*/
    #studentDetails {
        float: left;
        width: 450px;
    }

    #studentDetails .price {
        font-size: 1em;
        font-style: italic;
        color: #999;
        margin-bottom: 10px;
    }

    #orderForm {
        float: left;
    }

    #orderForm fieldset {
        width: 230px;
        margin: 0px;
        padding: 10px;
        border: 1px solid #cdcdcd;
    }

    #orderForm legend {
        font-weight: bold;
        padding: 0px 10px 0px 10px;
    }

    #orderForm label {
        font-weight: bold;
        padding-right: 5px;
    }

    #orderForm p {
        padding: 5px 0px 5px 0px;
    }

    #orderForm input[type="submit"] {
        margin-top: 20px;
        padding: 5px;
        width: 100%;
    }

    #headerRight {
        float: right;
        margin-right: 2px;
    }

   
    /* Search Results ---------------------------------*/
    #searchResult li {
        margin-top: 10px;
        font-size: 1.2em;
        list-style: none;
    }

    /* Cart ---------------------------------*/

    #cartTable {
        width: 100%;
        border: none;
        border-spacing: 0px;
    }

    #cartTable th {
        border-bottom: 1px solid #cdcdcd;
    }

    #cartTable td, th {
        padding: 5px;
    }

    #cartTable .product {
        text-align: left;
        width: 50%;
    }

    #cartTable .size {
        text-align: center;
        width: 10%;
    }

    #cartTable .price {
        text-align: right;
        width: 20%;
    }

    #cartTable .cartTotal td {
        margin-top: 10px;
        border-top: 1px solid #cdcdcd;
        text-align: right;
        font-weight: bold;
    }

    table .remove {
        text-align: right;
        width: 20%;
    }

    div #cartButtons {
        text-align: center;
        width: 100%;
        margin: 0.293% 0.10% 0.147% 0.10%;
    }

    .linkButton {
        border: 1px solid #cdcdcd;
        width: 100%;
        background-color: #efefef;
        margin: 0px;
        padding: 10px;
    }

    .linkButton:hover {
        background-color: #ddd;
    }
    /* Account Forms ---------------------------------*/
    .accountForm label {
        font-weight: bold;
        padding-right: 5px;
    }

    .accountForm p {
        padding: 5px 0px 5px 0px;
    }

    input[type="password"] {
        border: 1px solid #cdcdcd;
    }
    /* Validation ---------------------------------*/
    .validation-summary-errors, span.field-validation-error {
        color: #FF0000;
        float: left;
    }

    input.field-validation-error {
        border: 1px solid #FF0000;
        background-color: #FFCCCC;
    }

    #accountSummary {
        float: right;
        margin-top: 10px;
        text-align: right;
    }

    #accountSummary img {
        vertical-align: middle;
    }

    /* Checkout ---------------------------------*/
    #checkout h2 {
        width: 30%;
        border-bottom: 1px dashed #cdcdcd;
        margin: 25px 0px 20px 0px;
    }

    #checkout label {
        font-weight: bold;
        padding-right: 5px;
        width: 10em;
        float: left;
    }

    #checkout p {
        padding: 5px 0px 5px 0px;
    }

    #checkout input[type="submit"] {
        padding: 5px 45px 5px 45px;
    }






.details{
    border-top: 1px solid #cdcdcd;
    clear: both;
    width: 100%;
    margin: 0px 10px 0px 10px; 
    padding: 20px;
}
#app {
    height: 100%;
    overflow: auto;
    
}



button.splitViewButton {
    position: absolute;
    height: 48px;
    width: 48px;
    min-height: 0;
    min-width: 0;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
}

    button.splitViewButton:hover {
        background-color: rgba(255,255,255, 0.1);
    }

    button.splitViewButton:active {
        background-color: rgba(255,255,255, 0.2);
    }

    button.splitViewButton:after {
        position: relative;
        font-size: 24px;
        font-family: 'Segoe MDL2 Assets';
        content: "\E700";
    }

    #app .win-splitviewpanetoggle {
        float: left;
      
       
    
    }

    /* SplitView pane content style*/
    #app .header {
        white-space: nowrap;
    }

    #app .title {
       
    }

    #app .nav-commands {
        margin-top: 0px
        
    }

.win-navbarcommand-button {
    background-color: transparent;
    
}

#app .win-splitview-pane-hidden .win-navbarcommand-button {
    width: 46px;
}

#app .win-splitview-pane-hidden .win-navbarcommand-label {
    /* Workaround: Make sure pane doesn't scroll if ContentDialog restores focus to
       NavBarCommand's label
    */
    visibility: hidden;
}

/*SplitView content style*/
#app .win-splitview-content {
    font-size: 0.8em;
    display: flexbox;
    
    flex-flow: column;
     padding: 0px 0px 0px 0px;
    height: 100%;
  overflow-y: auto;
   
   
}

#app .win-splitview-pane {
  overflow-y: auto;
}

#app .contenttext {
        
    width: auto;
    display: flexbox;
    flex-flow: column;
   
   overflow-y: auto;
   
    
}


* {
     box-sizing-border: box;
}
.support-warning {
     background: #ccb11c;
     color: #000;
     display: block;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     opacity: 0.95;
     padding: 3rem;
     position: fixed;
     text-align: center;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 5;
}

.support-warning a {
     color: inherit;
}

/* flexbox fallback */
.grid {
     display: flex;
     flex-wrap: wrap;
}

.grid--4x4 > .grid__item {
     flex: 1 0 auto;   
}


@supports(display: grid) {
     .support-warning {
          display: none;
     }
     
     .grid {
         display: grid;
     }
     
}

.grid--4x4 {
     grid-template-columns: 1fr 1fr;
     grid-template-rows: repeat(auto-fit, minmax(50vh, auto) minmax(50vh, auto));
}

.align-center {
     align-items: center;
     justify-content: center;
}

.content {
     padding: 3.5rem;
     max-width: 400px;
}

.heading {
     font-family: 'Libre Baskerville', serif;
     font-size: 2rem;
     font-weight: 700;
     line-height: 1.2;
     margin-bottom: 1rem;
}

.description {
     font-family: 'Raleway', sans-serif;
     font-size: 1rem;
     line-height: 1.5;
}

.theme-peach {
   background: #fe5c5d;
   color: #1c1e22;
}

.theme-black {
    background: #1c1e22; 
    color: #fff;
}

.theme-white {
   background: #fff;
   color: #1c1e22;
}

.theme-grey {
  background: #333;
  color: #fff;
}






