@{
  Layout = "~/bunks/Shared/Layouts/_AdminLayout.cshtml";
 Page.Title = "Pace Results"; 
 
 var db = Database.Open("BunksAndBiddlesSchool");  

 var sqlCommand = "SELECT DISTINCT subjectName FROM PaceResult ORDER BY subjectName";

 

  var subjects = db.Query(sqlCommand);

 sqlCommand = "SELECT * FROM PaceResult WHERE admissionNo  LIKE @0 AND subjectName LIKE @1 ";

  var admissionNo = "%" + Request["admissionNo"] + "%";
  
    var subjectName = "%" + Request["subjectName"] + "%";

 var result = db.Query(sqlCommand, admissionNo, subjectName);

 var columns = new[]{"paceResultID", "subjectName", "paceNo", "admissionNo", "score", "teacherName"};

 var resultGrid = new WebGrid(source: result,
 rowsPerPage: 20); 


    
}

<div class="headerColumn">
  



</div>


<div class="headerColumn">
    <button class="win-backbutton"></button>
     
<a class="win-type-title" href="studentDetails"></a>

<form method="post">

<div class="" id="grid">
    <div class="detailColumn">
    Admission No: 
    <input class="win-textbox" type="text" name="admissionNo" value="@Request["admissionNo"]" />

        Subject: <select name="subjectName" class="win-dropdown">
                 <option></option>   
            @foreach(var item in subjects ){
                <option @(Request["subjectName"] == item.subjectName ? " selected=\"selected\"" : "")>@item.subjectName</option>
            }
        </select>
    
      <input type="submit" class="win-button win-button-primary" /> 
        </div>
        <div class="detailColumn"> <h1 class="win-type-title">Accelerated Christian Education  </h1> 
        <p class="win-type-body " style="color: #0094ff;">Filter Students P.A.C.Es Results</p>
        </div>
    @resultGrid.GetHtml(
        tableStyle: "webgrid",
        columns: resultGrid.Columns(
 resultGrid.Column("paceResultID", "Pace Result No"),
 resultGrid.Column("subjectName", "Subject"),
 resultGrid.Column("paceNo", "Pace Number"),
 resultGrid.Column("admissionNo", "Admission Number"),
 resultGrid.Column("score", "Marks"),
 
 resultGrid.Column("teacherName", "Teacher"),
 resultGrid.Column(null,null,format: @<text>
                            <a class="win-button" href="StudentPaceDetails/@item.paceResultID">
 Details
 </a>
 </text>),
 resultGrid.Column(null,null,format: @<text>
                            <a class="win-button " style="background: #0094ff; color:#fff;" href="DeletePaceDetails/@item.paceResultID">
Delete
 </a>
 </text>) 
        )
        )
    </div>

</form>
@section script{
<script type="text/javascript">
   $(function(){
        $('th a, tfoot a').live('click', function() {
            $('form').attr('action', $(this).attr('href')).submit();
            return false;
        });
    });
</script>

   

}

 </div>

