@{     
    
    Layout = "~/bunks/Shared/Layouts/_AdminLayout.cshtml";     
    Page.Title = "Delete Pace Result";          
    
    var extraCurricularReportID  = UrlData[0];     
    if (extraCurricularReportID.IsEmpty()) {          
        Response.Redirect("~/bunks/Admin/PaceResults/");     
    }          
    
    var db = Database.Open("BunksAndBiddlesSchool");          
    
    if (IsPost)    
     {         
         var sqlDelete = "DELETE FROM KinderExtraCurricularReport WHERE extraCurricularReportID = @0";         
         db.Execute(sqlDelete, extraCurricularReportID);         
         Response.Redirect("~/bunks/Admin/PaceResults/");
     }  

    var sqlSelect = "SELECT * FROM KinderExtraCurricularReport WHERE extraCurricularReportID = @0";
    var reports = db.QuerySingle(sqlSelect, extraCurricularReportID);   
        } 

 <p>         
        Are you sure you want to delete the @reports.AdmissionNo classes?     
    </p>     
       
    <form action="" method="post" id="deleteForm">             
        <input class="win-button" type="button" onclick="window.location = '@Href("~/bunks/Admin/PaceResults/")';" value="Cancel" />    
        <input class="win-button" type="submit" value="Delete" />         
    </form>     

     }
