@{
  Layout = "~/Shared/Layouts/_AdminLayout.cshtml";
 Page.Title = "Students"; 
 
 var db = Database.Open("BunksAndBiddlesSchool");  

 var sqlCommand = "SELECT Students.StudentId, Students.firstName, Students.otherNames, Classes.ClassTitle " +
 "FROM Students " +
 "INNER JOIN Classes ON Students.ClassLevel = Classes.ClassID " +
 "ORDER BY firstName";
 var result = db.Query(sqlCommand);

 var studentsGrid = new WebGrid(source: result,
 rowsPerPage: 20); 
    
}


<h1 class="win-type-header">A.C.E Students</h1>

<a class="win-type-title" href="studentDetails">Add New Student</a>

<div class="">  
    @studentsGrid.GetHtml(
        tableStyle: "webgrid",
        columns: studentsGrid.Columns(
 studentsGrid.Column("studentID", "Student ID"),
 studentsGrid.Column("firstName", "First Name"),
 studentsGrid.Column("otherNames", "Other Names"),
 studentsGrid.Column("classTitle", "Class Title"),
 studentsGrid.Column(null,
                    null,
                    format: @<text>
                            <a href="StudentDetails/@item.studentID">
  <button class="win-button">Details</button>
 </a>
 </text>) 
        )
        )
    </div>

