@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}


	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">For Today and Tomorrow. </h1>

  </header>


        @RenderPage("~/Shared/Partials/_AboutLinks.cshtml")
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-body" >When your child enrolls at Bunks & Biddles School, it is the beginning of a rich and varied journey. One that will see joy, inspiration, victories and challenges. These elements all combine, every moment of every day, to lay the groundwork for a rewarding future. It is education beyond learning, a vibrant fusion of many different experiences while viewing mistakes as an opportunity to learn and this embraces all the formative elements of a young life.
 
I welcome you, your child and your family to discover the true advantage of the Bunks experience. You will see that we are truly preparing our students for what’s ahead as we immerse them in an education that extends far beyond the limits of traditional academic learning while every child is exposed to the biblical principles which is what will take the child through life and its challenges. 
<br>
Sincerely,
    </span>
<code>
Victoria Adembesa
Head of School
Bunks & Biddles School
</code>
</pre>


					</div>
					<div class="box">
						<pre>


</pre>
					</div>
				</div>


        <div class="content">
				<div class="mockup-browser">
					
					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--full">
								<h1 class="mockup-heading mockup-heading--large paint-area paint-area--text">
                                   
                                    <span class="mockup-heading__subline"> 
                                        About Ms Victoria
                                       
                                        </span>
                                     <span class="mockup-heading__subline win-type-body"> At BBS, we know that students succeed in life when they are fully prepared 
                                        Victoria Adembesi is a member of the Bunks & Biddles School since 1997. She earned her bachelor’s degree from _____, his MBA from _____ University, and his master’s degree in education from the University of _______.

Victoria became Head of School in _______ after ____ years of teaching and leadership positions at independent schools. He served as _______. Prior to coming to BBS, she served as ____ and ______ School. 
 
Victoria has taught various math and social studies courses over the years, welcomes the opportunity to play Chess with students, has started and led several clubs and club programs, has coached various sports, and simply loves working with young people. In her words, “The Chinese proverb nails it – if you do something you love, you never work a day in your life! I love spending my days the way that I do!”
 </span>
                                </h1>
							</div>
							
						</div><!-- /mockup-grid -->
					</section>
					
				</div><!-- /mockup-browser -->
			</div>


			
		
		</div>

