


	<section class="color-5">
				<aside class="cl-effect-17">
					

                    <a href="~/About/Welcome.cshtml" data-hover="Welcome">Welcome</a>
                    <a href="~/About/HeadOfSchoolWelcome" data-hover="Head of school Welcome">Head of school Welcome</a>
                    <a href="~/About/BoardOfTrustees" data-hover="Board of Trustees">Board of Trustees</a>
                    <a href="~/About/BunksFacts" data-hover="Bunks Facts" >Bunks Facts</a>
                    <a href="~/About/MeetOurFaculty" data-hover="Meet our Faculty">Meet our Faculty</a>
                    <a href="~/About/Blog" data-hover="Blog">Blog</a>
                    <a href="~/About/Employment" data-hover="Employment">Employment</a>
                    <a href="~/About/Contacts" data-hover="Contacts & Directions">Contacts &amp; Directions</a>
				</aside>
			</section>