	<section class="color-5">

    
				<aside class="cl-effect-17">
					

                   <a href="~/Academics/Welcome.cshtml" class="win-type-body"  data-hover="Welcome">Welcome</a>
                             <a href="~/Academics/DayCare" data-hover="Day Care">Day Care</a>
                             <a href="~/Academics/Kindergarten" data-hover="Kindergarten">Kindergarten</a>
                              <a href="~/Academics/Chui" data-hover="Primary">Primary</a>
                             <a href="~/Academics/Simba" data-hover="Secondary">Secondary</a>
                  
				</aside>

    	
			</section>


