	<section class="color-5">
				<aside class="cl-effect-17">
					

                    <a href="~/Admission/Welcome.cshtml" data-hover="Welcome">Welcome</a>
                    <a href="~/Admission/Visit" data-hover="Visit Us">Visit Us</a>
                    <a href="~/Admission/Inquire" data-hover="Inquire">Inquire</a>
                    
                    <a href="~/Admission/Apply" data-hover="Apply">Apply</a>
                 
                    <a href="~/Admission/Tution" data-hover="Tution">Tution</a>
                   
				</aside>
			</section>
