@{
    
}

<section class="color-5">

    
				<aside class="cl-effect-17">
					

                   <a href="~/Clubs/Welcome.cshtml" class="win-type-body"  data-hover="Welcome">Welcome</a>
                             <a href="~/Clubs/Art" data-hover="Art">Art</a>
                            <a href="~/Clubs/Science" data-hover="Science">Science</a>
                             <a href="~/Clubs/Lambda" data-hover="Lambda">Lambda</a>
                            <a href="~/Clubs/Music" data-hover="Music">Music</a>
                     <a href="~/Clubs/Swimming" data-hover="Swimming">Swimming</a>
                              <a href="~/Clubs/Scating" data-hover="Scating">Scating</a>
                     
                             <a href="~/Clubs/HorseRiding" data-hover="Horse Riding">Horse Riding</a>
                  
				</aside>

    	
			</section>