  	<section class="color-5">

    
				<aside class="cl-effect-17">
                            <h1 class="win-type-title">Our Curriculum</h1>
                             <a href="~/Academics/Kifaru" data-hover="Montessori">Montessori</a>
                             
                             <a href="~/Academics/UpperPrimary" data-hover="Accelerated Christian Education">Accelerated Christian Education</a>
                    </aside> 
</section>