@{
    var db = Database.Open("BunksWebsite");
    var sqlSelectEvents = "SELECT * FROM Events";
    
}


                     
                     
                      
<p class="win-type-subheader"> Events</p>

    <ul >				

@foreach (var eventItem in db.Query(sqlSelectEvents))
{
   
    	<li>
					<div class="eventListLayoutTopHeaderTemplateRoot"  >
    <div class="event">
        <div   class="event-Date"  >
            <p class="win-type-body" style="color: #fff;">@eventItem.dateOfEvent.ToShortDateString()</p>
           
        </div>
        <div class="event-Detail">
            <h4 class="win-type-subtitle" >@eventItem.eventTitle</h4>
            <h6 class="win-type-body" style="color: #fff;" >@eventItem.eventPreview 
            
            
            
            </h6>
            <br/>    <br/>
             <a href="/EventDetails/@eventItem.eventsID" class="win-button win-button-primary">
More Details
</a>
            
        </div>
    </div>
</div>

				</li>




   

}

        	</ul>


<br/><hr/>
<p class="win-type-body">
<a href="~/Calender" class="win-button mockup-button paint-area" >&#xE163; View Calender </a> 

</p>

