





	<section class="color-5">
				<aside class="cl-effect-17">
					

                    <a href="~/Giving/Welcome.cshtml" data-hover="Welcome">Welcome</a>
                    <a href="~/Giving/StrategicSchoolImprovement" data-hover="Strategic School Improvement">Strategic School Improvement</a>
                    <a href="~/Giving/MakeAGift" data-hover="Make a Gift">Make a Gift</a>
                    <a href="~/Giving/BunksFund" data-hover="Bunks Fund" >Bunks Fund</a>
                    <a href="~/Giving/WaysToGive" data-hover="Ways to Give">Ways to Give</a>
                    <a href="~/Giving/EndowmentFunds" data-hover="Endowment Funds">Endowment Funds</a>
                    <a href="~/Giving/PlannedGiving" data-hover="Planned Giving">Planned Giving</a>
                    
				</aside>
			</section>