@{
 var db = Database.Open("BunksWebsite");
 var sqlSelectNews = "SELECT * FROM News WHERE NOT Keywords = 'Vacancies';";
}



    


       <p class="win-type-header">
        
        <button class="mockup-button paint-area win-button " data-win-control="WinJS.UI.AppBarCommand"    data-win-options="{section: 'global', 
                       label: 'Categories',
                         icon: '&#xE133;', 
                             
                       type:'flyout', flyout: 'signUp'}"> </button> 
        | News</p>
    <ul class="gridNews cs-style-4 ">				

@foreach (var newsItem in db.Query(sqlSelectNews))
{
   
    	<li>
					<figure>
						<div>
                            <p class="win-type-subtitle">@newsItem.newsTitle</p>
                            <img src="../Images/5.jpg" alt="img05">
                        </div>

						<figcaption>
                            <p style="color: #fff;" class="win-type-body"> @newsItem.newsBody</p>
							<span>@newsItem.newsActive</span>
                              
							
                            <a href="/NewsDetails/@newsItem.newsID" class="win-button win-button-primary">
More Details
</a>
						</figcaption>
                      
					</figure>

				</li>




   

}

        	</ul>
 




<script type="text/javascript">
    WinJS.UI.processAll().done(function () {
    var showButton = document.querySelector(".showButton");
    showButton.addEventListener("click", function () {
        var contentDialog = document.querySelector(".win-contentdialog").winControl;
        contentDialog.show();
    });
});




</script>


                

        
      
    