<header class="clearfix">
				<div class="inner">
				
					<nav class="pageLinks">
                           <a class="active" href="#"><img src="~/img/SocialMedia/Twitter-30.png" alt="Twitter"></a> 
  <a href="https://www.facebook.com/bunksandbiddlesschools/"><img src="~/img/SocialMedia/Facebook-30.png" alt="facebook"></a> 

  <a href="#"><img src="~/img/SocialMedia/LinkedIn-30.png" alt="LinkedIn"></a>
  <a href="#"><img src="~/img/SocialMedia/Google Plus-30.png" alt="GooglePlus"></a>
						
					</nav>
				</div>
			</header>

<style>
/* Demo Buttons Style */
.pageLinks {
	float: right;
	padding-top: 1em;

}

.pageLinks a {
    display: inline-block;
    margin: 1em;
    line-height: 2;
    color: #666;
    font-weight: 700;
    border-bottom: 4px solid transparent;
}

.pageLinks a:hover {
	color: #000;
	border-color: #000;
}

.pageLinks a.current-demo,
.pageLinks a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}

    
    
</style>