
	<section class="color-5">
    
    <aside class="cl-effect-17">
       
                 
                             <a href="~/Academics/Lavington" data-hover="Lavington">Lavington</a>
                    <a href="~/Academics/Karen" data-hover="Karen">Karen</a>
                        </div>
                 
            </aside>
    
    </section>