@{
    
}

	<pre>
<span class="win-type-subheader">School Uniforms available from</span>
<code >
ANIMET LTD, 3<sup>rd</sup> floor, Yaya centre, 
P.O. BOX 76221-00508 Nairobi
Tel: (254-020) 3861578/2730922
						</code>
<a class="color-12" href="~/Admission/KindergartenPrimary.cshtml">Kindergarten and Primary School Uniform</a>
<a class="color-12" href="~/Admission/Secondary.cshtml">Secondary School Uniform</a>
<a class="color-12" href="~/Admission/Dance.cshtml">Dance</a>
<a class="color-12" href="~/Admission/Dance.cshtml">Horse riding</a>
</pre>
