@{
 var db = Database.Open("BunksWebsite");
 var sqlSelect = "SELECT * FROM NewsCategories;";
}



    
	<div  style="border-color: white; background: #808080;" id="signUp" data-win-control="WinJS.UI.Flyout">						
							
                            <div id="newsCategories" >
                            <ul>
@foreach (var category in db.Query(sqlSelect))
{
 <li>
   <a class="win-type-subtitle"  href="/News/@category.newsCategoryTitle"> 
@category.newsCategoryTitle
    </a>
 </li>
}
</ul>
                                </div>
					




  

    
</div>
