@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}




        	
               	<aside >
						<div class="mockup-content mockup-grid">
							
							<figure class="mockup-grid__item mockup-width--half">
								<div class="mockup-img mockup-img--large"><img class="mockup-img" height="100%"  src="~/Images/4.jpg" alt="chess"></div>
							</figure>
							<div class="mockup-grid__item mockup-width--half">
								<div class="mockup-img mockup-img--large"><img height="100%" class="mockup-img"  src="~/Images/5.jpg" alt="chess"></div>
							</div>
						</div><!-- /mockup-grid -->
					</aside>
             











          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Board of Trustees </h1>

  </header>
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >
<span class="win-type-subheader" >Our Bunks &amp; Biddles Board</span>
<span class="win-type-body" >
Our board is truly dedicated to the future of Bunks &amp; Biddles Schools.
 
The individuals who volunteer their time to serve on the board provide diverse skills and perspectives. They share a deep personal commitment to the school’s mission and long-term financial health.
 
The strength of the board lies in identifying issues and challenges that will impact the school while creating and implementing strategies to provide thoughtful solutions.
 
Each board member is honored to serve our school community and enhance the Bunks experience.
    </span>

</pre>
					</div>
					<div class="box">
						<pre>
<span class="win-type-subheader">Trustees</span>
<code >

Architect           Antony Thimango
Acountant           Robert Ngotho
Lawyer              David Ireri

Spiritual 
Leader              Rev. Judy Mbugua

Marketing 
and Advertising     Catherine Njoroge

<u>Directors</u>	
Mr.  Victor Kibe
Mrs. Dorcas Macharia
Mrs. Grace Kibe


						</code>

</pre>
					</div>
				</div>


    


		@RenderPage("~/Shared/Partials/_AboutLinks.cshtml")	
		
	


