@{
     Layout = "~/Shared/layouts/_layout.cshtml";
    
}

  <header class="codrops-header">
      <h1 class="win-type-header">OurBunksFacts </h1>

  </header>


<div class="content">
        
				<div class="mockup-browser">
					
					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--full">
								
								<div class="wrap">
                                    <h1 class="win-type-header">BunksFacts </h1>
<div class="factBox color-11">
  <div class="text animated bounce">15</div>
    <p class="win-type-subtitle textParagraph">Average Kindergarten class size</p>
</div>
<div class="factBox color-5">
  <div class="text animated pulse">80%</div>
     <p class="win-type-subtitle textParagraph">Teachers with graduate degrees</p>
</div>
<div class="factBox color-2">
  <div class="text animated rubberBand">10</div>
      <p class="win-type-subtitle textParagraph">Average years of teaching experience</p>
</div>

</div>
                                 		<div class="wrap">

<h1 class="win-type-header">Opportunities </h1>

<div class="factBox color-3">
  <div class="text animated wobble">120</div>
        <p class="win-type-subtitle textParagraph">Student Convention club</p>
</div>
<div class="factBox flipbox color-4">
  <div class="text animated flip">5</div>
     <p class="win-type-subtitle textParagraph">Average Yearly plays, concerts and musical performance</p>
</div>
<div class="factBox hingebox color-6">
  <p class="text animated hinge">100+</p>
   <p class="win-type-subtitle textParagraph">Community service hours by end of primary school</p>
</div>
</div>
                              
                             
							</div>


                            	<hr/>

                            					<div class="mockup-grid__item mockup-width--full">
								
							
                              
                                		<div class="wrap">

<h1 class="win-type-header">Our Classes </h1>

<div class="factBox color-10">
  <div class="text animated wobble">K-6</div>
        <p class="win-type-subtitle textParagraph">Language, arts, math, social studies, science, word building, music, drama,</p>
</div>
<div class="factBox flipbox color-8">
  <div class="text animated flip">7-12</div>
     <p class="win-type-subtitle textParagraph">Elective in ICCE, entrepreneurship, LAMDA, and much more…</p>
</div><!--
<div class="factBox hingebox color-7">
  <p class="text animated hinge">100+</p>
   <p class="win-type-subtitle textParagraph">Community service hours by end of primary school</p>
</div> -->
</div>
							</div>
							
						</div><!-- /mockup-grid -->
					</section>
					
                    	<hr/>
                 
	
				</div>
        
        
        <!-- /mockup-browser -->




      

    


     
     




        
       

</div>

<div >@RenderPage("~/Shared/Partials/_AboutLinks.cshtml")</div>
    