@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}

 
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Contact &amp; Directions </h1>

  </header>


     
			


      

        	  

      <section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
                            <div class="mockup-grid__item mockup-width--half">
                                 <button class="win-button win-type-title" id="showMaps">&#xE13C; Find Us</button>
                                </div>
                            <div class="mockup-grid__item mockup-width--half">
                           
                                  <h1 class="win-type-header"><span style="color: #b26e03;">&#xE1C4;</span> | Our Location</h1>
                                </div>
							
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <div class="mockup-grid__item mockup-width--full">
								 
                    <div id="output" >
                      
        <div id="output1" class="map-responsive">
        
               
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7378749342165!2d36.73378051508652!3d-1.3334363360563313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1b26fef6dd09%3A0x6d6e36978f7182d0!2sBunks+And+Biddles+School!5e0!3m2!1sen!2s!4v1495013347195" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         
         <h3 class="win-type-subheader" style="color: #b26e03;">Karen School</h3>
        </div>
        <div id="output2" class="map-responsive">

            
               
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8112460758252!2d36.77068771475406!3d-1.2873627990610377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1a056c83c1f9%3A0x6035d6cf0efbb369!2sBunks+%26+Biddles+Lavington!5e0!3m2!1sen!2s!4v1494935090261" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

           <h3 class="win-type-subheader" style="color: #b26e03;">Lavington School</h3>
         
        </div>
    </div>
								
                                 
							</div>
                          
							
						</div><!-- /mockup-grid -->
	


				</section>
		
 @RenderPage("~/Shared/Partials/_AboutLinks.cshtml")

<script type="text/javascript">

            var runAnimation = document.getElementById("runAnimation");
            var contentArea = document.getElementById("contentArea");
            var content = document.querySelector(".sitemap");


        

            function runEnterContentAnimation() {
                if (runAnimation.innerHTML === "Close Site Map") {
                    contentArea.style.opacity = "0";
                    runAnimation.innerHTML = "Open Site Map";
                } else {
                    content.style.overflow = "hidden";

                    // Run the enterContent animation
                    // The animation will cause opacity to transition to 1
                    // Use the recommended offset by leaving the offset argument empty to get the best performance
                    WinJS.UI.Animation.enterContent(contentArea, null).done(
                        function () {
                            content.style.overflow = "auto";
                        });

                    runAnimation.innerHTML = "Close Site Map";
                }
            }



            var showMaps = document.getElementById("showMaps");
var output1 = document.getElementById("output1");
var output2 = document.getElementById("output2");
var output = document.getElementById("output");

function transitionBetweenContent() {
    var incoming;
    var outgoing;

    // Assign incoming and outgoing
    if (output2.style.display === "none") {
        incoming = output2;
        outgoing = output1;
    } else {
        incoming = output1;
        outgoing = output2;
    }

    // Run the exitContent animation and then the enterContent animation
    // Use the recommended offset by leaving the offset argument empty to get the best performance
    WinJS.UI.Animation.exitContent(output, null).done(function () {
        outgoing.style.display = "none";
        incoming.style.display = "block";
        return WinJS.UI.Animation.enterContent(output, null);
    });
}

showMaps.addEventListener("click", transitionBetweenContent, false);
output1.style.display = "block";
output2.style.display = "none";



    var showFromKaren = document.getElementById("showFromKaren");
var fromKarenContentArea = document.getElementById("fromKarenContentArea");
var contentFromKaren = document.querySelector(".boxFromKaren");

function runEnterContentFromKaren() {
    if (showFromKaren.innerHTML === "Reset") {
        fromKarenContentArea.style.opacity = "0";
        showFromKaren.innerHTML = "Run animation";
    } else {
        contentFromKaren.style.overflow = "hidden";

        // Run the enterContent animation
        // The animation will cause opacity to transition to 1
        // Use the recommended offset by leaving the offset argument empty to get the best performance
        WinJS.UI.Animation.enterContent(fromKarenContentArea, null).done(
            function () {
                contentFromKaren.style.overflow = "auto";
            });

        showFromKaren.innerHTML = "Reset";
    }
}

fromKarenContentArea.style.opacity = "0";
showFromKaren.addEventListener("click", runEnterContentFromKaren, false);





        </script>


<script>
var showFromLavington = document.getElementById("showFromLavington");
var fromLavingtonContentArea = document.getElementById("fromLavingtonContentArea");
var contentFromLavington = document.querySelector(".boxFromLavington");

function runEnterContentFromLavington() {
    if (showFromLavington.innerHTML === "Reset") {
        fromLavingtonContentArea.style.opacity = "0";
        showFromLavington.innerHTML = "Run animation";
    } else {
        contentFromLavington.style.overflow = "hidden";

        // Run the enterContent animation
        // The animation will cause opacity to transition to 1
        // Use the recommended offset by leaving the offset argument empty to get the best performance
        WinJS.UI.Animation.enterContent(fromLavingtonContentArea, null).done(
            function () {
                contentFromLavington.style.overflow = "auto";
            });

        showFromLavington.innerHTML = "Reset";
    }
}

fromLavingtonContentArea.style.opacity = "0";
showFromLavington.addEventListener("click", runEnterContentFromLavington, false);


</script>



