@{
     Layout = "~/Shared/layouts/_layout.cshtml";
    
}

  <header class="codrops-header">
      <h1 class="win-type-header">We understand. </h1>

  </header>
<div >@RenderPage("~/Shared/Partials/_AboutLinks.cshtml")</div>


    