@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}


	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">For Today and Tomorrow. </h1>

  </header>


     
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-body" >I welcome you, your child and your family to discover the true advantage of the Bunks experience. You will see that we are truly preparing our students for what’s ahead as we immerse them in an education that extends far beyond the limits of traditional academic learning while every child is exposed to the biblical principles which is what will take the child through life and its challenges.  
<br>
Sincerely,
    </span>
<code>
Victoria Adembesa
Head of School
Bunks & Biddles School
</code>
</pre>


					</div>
					<div class="box">
						<pre>
<img src="~/Images/HeadOfSchool.jpg" alt="HeadOfSchool">

</pre>
					</div>
				</div>


        <div class="content">
				<div class="mockup-browser">
					
					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--full">
								<h1 class="mockup-heading mockup-heading--large paint-area paint-area--text">
                                   
                                    <span class="mockup-heading__subline"> 
                                        About Ms Victoria
                                       
                                        </span>
                                     <span class="mockup-heading__subline win-type-body"> At BBS, we know that students succeed in life when they are fully prepared 
                                       Victoria Adembesa is a member of the Bunks & Biddles School since 2012. She earned her bachelor’s degree from Moi university.
 
Victoria became Head of School in 2013 after 3 years of teaching and leadership positions at different institutions. 
 
Victoria has trained and mentored various young people with The Navigators International Ministries, she has taught Math and Biology courses over the years, has been involved and led several clubs and club programs and simply loves working with young people. 
In her words, “The Chinese proverb nails it – if you do something you love, you never work a day in your life! I love spending my days the way that I do!”
 </span>
                                </h1>
							</div>
							
						</div><!-- /mockup-grid -->
					</section>
					
				</div><!-- /mockup-browser -->
			</div>

        	   @RenderPage("~/Shared/Partials/_AboutLinks.cshtml")
		</div>	
		


