@{
    Layout = "~/Shared/layouts/_layout.cshtml";

   
}

 

 






  


     	<aside >
							<div id="two-columns" class="grid-container" style="display:block;">
			<ul class="rig columns-2">
				<li>
					<img alt="img1" src="~/Images/6.jpg" />
					
				</li>
				<li>
					<img alt="img2"  src="~/images/4.jpg" />
					
				</li>
				
			</ul>
		</div>
					</aside>



	<div class="content">

          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Meet Our Staff </h1>

  </header>


        
                      <!-- Template for the group headers in the zoomed in ListView -->
    <div id="headerTemplate" 
         data-win-control="WinJS.Binding.Template" style="display: none">
        <div class="simpleHeaderItem">
            <h1 data-win-bind="innerText: title"></h1>
        </div>
    </div>
    




    <!-- Template for the items in the zoomed in ListView -->
    <div id="mediumListIconTextTemplate" 
         data-win-control="WinJS.Binding.Template" style="display: none">
      

              <div  class="smallListIconTextItem">
                       <h4  data-win-bind="innerText: text"></h4>
            <img alt="employees" src="#" class="mediumListIconTextItem-Image" 
                 data-win-bind="src: picture" />
             
            <div class="smallListIconTextItem-Detail ">
                
               <a href="#"> <h6 class="color-12"  data-win-bind="innerText: email"></h6></a>
                <h6 class="win-type-body"  data-win-bind="innerText: bio"></h6>
            </div>
        </div>
         
      
    </div>


    <!-- Template for the items in the zoomed out 
         ListView of the SemanticZoom -->
    <div id="semanticZoomTemplate" 
        data-win-control="WinJS.Binding.Template" style="display: none">
        <div class="semanticZoomItem">
            <h2 class="semanticZoomItem-Text" 
                data-win-bind="innerText: title"></h2>
        </div>
    </div>

<div class="gridLayoutLeftHeaderTemplate" data-win-control="WinJS.Binding.Template">
    <div class="gridLayoutLeftHeaderTemplateRoot">
        <div data-win-bind="innerHTML: title"></div>
        
    </div>
</div>

         <div id="facultyDetails" data-win-control="WinJS.Binding.Template">
        <div>
            <div>
                Title:
                <span data-win-bind="innerText:title"></span>
            </div>
            <div>
                Bio:
                <span data-win-bind="innerText:bio"></span>
            </div>
        </div>
    </div>

    <!-- SemanticZoom using two ListViews -->
    <div id="semanticZoomDiv" data-win-control="WinJS.UI.SemanticZoom" data-win-options="{ zoomFactor : 0.1}">

        <!-- The zoomed in ListView -->
        <div id="zoomedInListView"
            class="win-selectionstylefilled"
            data-win-control="WinJS.UI.ListView"
            data-win-options="{ 
                    itemDataSource: sezoData.groupedList.dataSource, 
                    itemTemplate: select('#mediumListIconTextTemplate'), 
                    groupDataSource: sezoData.groupedList.groups.dataSource, 
                    groupHeaderTemplate: select('#headerTemplate'), 
                    selectionMode: 'none', 
                    tapBehavior: 'none', 
                    swipeBehavior: 'none' 
                }">
        </div>

        <!-- The zoomed out ListView -->
        <div id="zoomedOutListView"
            data-win-control="WinJS.UI.ListView"
            data-win-options="{ 
                    itemDataSource: sezoData.groupedList.groups.dataSource, 
                    itemTemplate: select('#semanticZoomTemplate'), 
                    selectionMode: 'single', 
                    groupHeaderTemplate: select('.gridLayoutLeftHeaderTemplate'),
                    tapBehavior: 'directSelect', 
                    swipeBehavior: 'none',
                    layout: { type: WinJS.UI.GridLayout} 
                }">
        </div>


    </div>

          <!-- Detail -->
        <div id="facultyDetails"></div>
				<div class="row">


                    
					<div class="box box--centered">
                      
                        
						<pre  >
<span class="win-type-subheader" >Our Bunks &amp; Biddles Board</span>
<span class="win-type-body" >
Our faculty knows our students’ names, supports them, encourages them, and is always pulling for them. In this way, our staff continually draws out the best in each and every child, showing them how to study, advocate for themselves, and develop a solid work ethic.

Teachers, coaches, and counselors are all invested in making sure each child is valued, understood, and challenged at the right time. This individual approach – along with small class sizes – allows your child to flourish and be prepared for what's ahead.
    </span>

</pre>
					</div>
					<div class="box">
						<pre>
<span class="win-type-subheader">Trustees</span>
<code >
Chairman        Mr. Steven Mumbi
Vice-Chair      Mrs. Michelle Junda
Treasurer       Mrs. Joan Linda
Secretary       Mr. Colin Mwamba

<u>Members</u>	
Mr.  Jeff Kasenge
Mr.  Brad Bulandi
Mrs. Jacinta Kaliu
Dr.  David Chebet

						</code>

</pre>
					</div>
				</div>


        <div class="content">
				<div class="mockup-browser">
					
					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--full">
								
							</div>
							
						</div><!-- /mockup-grid -->
					</section>
					
				</div><!-- /mockup-browser -->
			</div>


			
		
		</div>




<div >@RenderPage("~/Shared/Partials/_AboutLinks.cshtml")</div>
  



<script>
    var showFromKaren = document.getElementById("showFromKaren");
var fromKarenContentArea = document.getElementById("fromKarenContentArea");
var contentFromKaren = document.querySelector(".boxFromKaren");

function runEnterContentFromKaren() {
    if (showFromKaren.innerHTML === "Reset") {
        fromKarenContentArea.style.opacity = "0";
        showFromKaren.innerHTML = "Run animation";
    } else {
        contentFromKaren.style.overflow = "hidden";

        // Run the enterContent animation
        // The animation will cause opacity to transition to 1
        // Use the recommended offset by leaving the offset argument empty to get the best performance
        WinJS.UI.Animation.enterContent(fromKarenContentArea, null).done(
            function () {
                contentFromKaren.style.overflow = "auto";
            });

        showFromKaren.innerHTML = "Reset";
    }
}

fromKarenContentArea.style.opacity = "0";
showFromKaren.addEventListener("click", runEnterContentFromKaren, false);


</script>