@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}




        	
               	<aside >
							<div id="two-columns" class="grid-container" style="display:block;">
			<ul class="rig columns-2">
				<li>
					<img alt="img1" src="~/Images/5.jpg" />
					
				</li>
				<li>
					<img alt="img2"  src="~/images/3.jpg" />
					
				</li>
				
			</ul>
		</div>
					</aside>
             










	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">We understand. </h1>

  </header>
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >
<span class="win-type-subheader" >That’s why we invite you to learn about our school.</span>
<span class="win-type-body" >
Our Bible centered educational experience integrates opportunities to explore a variety of interests while developing a strong Christian and academic foundation. Each child enjoys a balanced experience that sets him or her on a path to life-long learning.
 
We invite you, your child, and your family to visit our campus in Karen and Lavington so you can get to know us and discover the true advantage of the Bunks and Biddles experience.

The best way to get to know us is to take a tour. Schedule a visit or call us at 0722 344 127 today.
We look forward to meeting you!
    </span>

</pre>
					</div>
					<div class="box">
						<pre>
<code class="win-type-body">
Bunks and Biddles schools was established in 1994 as Bunks and Biddles Kindergarten. 
    In 2004, Bunks and Biddles Primary School was opened offering the A.C.E curriculum (Accelerated Christian Education).
    Our Schools are sheltered on the serene Karen and Lavington environment.

Karen School is conveniently located off I-421 and is in close proximity to most area landmarks.
8 miles from Reynolda Village
9 miles from Thruway Shopping Center
10 miles from Wake Forest University

    Lavington School is conveniently located off I-421 and is in close proximity to most area landmarks.
8 miles from Reynolda Village
9 miles from Thruway Shopping Center
10 miles from Wake Forest University
						</code></pre>
					</div>
				</div>


        <div class="content">
				<div class="mockup-browser">
					
					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--full">
								<h1 class="mockup-heading mockup-heading--large paint-area paint-area--text">
                                    <span class="mockup-heading__subline win-type-body"> 
                                        At BBS, we know that students succeed in life when they are fully prepared 
                                        for the opportunities and challenges ahead.  
                                        That’s why Bunks education provides a balanced experience that focuses on academics 
                                        that enrich and interest that engage.
With small classes, invested teachers and a collaborative community, your child benefits from a supportive and inspiring 
                                        educational experience. At Bunks and Biddles school, learning is constant time is the variable. 
                                        </span></h1>
							</div>
							
						</div><!-- /mockup-grid -->
					</section>
					
				</div><!-- /mockup-browser -->
			</div>


			
		
		</div>


@RenderPage("~/Shared/Partials/_AboutLinks.cshtml")