@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}

  <header class="codrops-header">
      <h1 class="win-type-header"></h1>
      <br/>
  </header>


 <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">School Uniforms </h1>

  </header>

<div class="row">
                    
					
<h4 class="win-type-subheader" >Secondary</h4>
    <br/>

				</div>
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-header" >
Purchase at ANIMET
    </span>
</pre>



					</div>
					<div class="box">
					@RenderPage("~/Shared/Partials/_SchoolUniform.cshtml")
					</div>
				</div>
<div class="row">
                    
					<div class="box box--centered">
                        <span class="win-type-header" >
Dance
    </span>
					<ul class="dl-submenu win-type-subtitle">
									<li>School sports red Polo shirt</li>
                                    <li>School track suit (both boys and girls)</li>
								</ul>



					</div>
					<div class="box box--centered">
					 <span class="win-type-header" >
Horse riding
    </span>
					<ul class="dl-submenu win-type-subtitle">
									<li>School tracksuit</li>
                                    <li>School sports red Polo shirt</li>
                                    <li>Black gum boots</li>
                                   
								</ul>
					</div>
				</div>
<div >@RenderPage("~/Shared/Partials/_AdmissionLinks.cshtml")</div>