@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}

  <header class="codrops-header">
      <h1 class="win-type-header"></h1>
      <br/>
  </header>


 <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">School Uniforms </h1>

  </header>

<div class="row">
                    
					
<h4 class="win-type-subheader" >Kindergarten &amp; Primary</h4>
    <br/>

				</div>
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-header" >
Purchase at ANIMET
    </span>
</pre>



					</div>
					<div class="box">
					@RenderPage("~/Shared/Partials/_SchoolUniform.cshtml")
					</div>
				</div>
<div class="row">
                    
					<div class="box box--centered">
                        <span class="win-type-header" >
Boys
    </span>
					<ul class="dl-submenu win-type-subtitle">
									<li>Blue &amp; white striped shirt with white Tie collar(school pattern)</li>
                                    <li>Royal Blue short</li>
                                    <li>Grey sock with royal white &amp; blue stripes</li>
                                    <li>Red pullover with the school crest</li>
                                    <li>Red sleeveless pullover with school crest</li>
                                    <li>Royal blue tie(elastic) 5-7 years</li>
                                    <li>Royal blue tie(proper) 9 years and above</li>
                                    <li>Black games shorts</li>
                                    <li>Red Polo shirt with school crest</li> 
                                    <li>Black leather shoes</li>
                                    <li>White indoor shoes</li>
                                    <li>Plain Navy blues swimming trunk</li>
                                    <li>Towel for swimming</li>
                                    <li>Apron for art</li>
                                    <li>Red cap with the school crest</li>
                                    <li>Face towel with loop(plain color) 18months - 5years</li>
                                    <li>Tracksuit with crest (school pattern)</li>
                                    <li>Red fleece with school crest</li>
                           
                                           
									
								</ul>



					</div>
					<div class="box box--centered">
					 <span class="win-type-header" >
Girls
    </span>
					<ul class="dl-submenu win-type-subtitle">
									<li>Blue &amp; white striped blouse with white open collar(school pattern)</li>
                                    <li>Royal Blue tunic (school pattern)</li>
                                    <li>Royal Blue trouser(optional)</li>
                                    <li>White socks (knee length)</li>
                                    <li>Red Pullover with the school crest</li>
                                    <li>Red Polo shirt with school crest</li>
                                    <li>Black wrapper skirt</li>
                                    <li>Plain black leather low heeled shoes</li>
                                    <li>Plain Navy blue swimming costume</li> 
                                    <li>Towel for swimming</li>
                                    <li>Apron for art (school pattern)</li>
                                    <li>Plain Navy blues swimming trunk</li>
                                    <li>Face towel with loop(plain color) 18months - 5years</li>
                                    <li>Red cap with the school crest</li>
                                    <li>Face towel with loop(plain color) 18months - 5years</li>
                                    <li>Tracksuit with crest (school pattern)</li>
                                    <li>Plain red swim cap</li>
                                    <li>Red sleeveless pullover with school crest</li>
                                    <li>Red fleece  with school crest</li>
                           
                                           
									
								</ul>
					</div>
				</div>
<div >@RenderPage("~/Shared/Partials/_AdmissionLinks.cshtml")</div>