@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}

  <header class="codrops-header">
      <h1 class="win-type-header"></h1>
      <br/>
  </header>


 <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">School Uniforms </h1>

  </header>

<div class="row">
                    
					
<h4 class="win-type-subheader" >Secondary</h4>
    <br/>

				</div>
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-header" >
Purchase at ANIMET
    </span>
</pre>



					</div>
					<div class="box">
					@RenderPage("~/Shared/Partials/_SchoolUniform.cshtml")
					</div>
				</div>
<div class="row">
                    
					<div class="box box--centered">
                        <span class="win-type-header" >
Boys
    </span>
					<ul class="dl-submenu win-type-subtitle">
									<li>White long sleeved shirt tie collar with (school pattern)</li>
                                    <li>Black proper touser</li>
                                    <li>Black socks (knee length)</li>
                                    <li>Black pullover with the school crest</li>
                                    <li>Black sleeveless pullover with school crest</li>
                                    <li>Black blazer with school crest</li>
                                    <li>Black tie with school crest</li>
                                    <li>Black games shorts</li>
                                    <li>Black leather shoes</li>
                                    <li>White indoor shoes</li>
                                    <li>Plain Navy blues swimming trunk</li>
                                    <li>Towel for swimming</li>
                                    <li>Apron for art</li>
                                    <li>Red cap with the school crest</li>
                                    <li>Black tracksuit with crest (school pattern)</li>
                                    <li>White low cut trainers or gym shoes</li>
                                    <li>White laboratory coat</li>
								</ul>



					</div>
					<div class="box box--centered">
					 <span class="win-type-header" >
Girls
    </span>
					<ul class="dl-submenu win-type-subtitle">
									<li>White long sleeved blouse with open collar(school pattern)</li>
                                    <li>Black Skirt(school pattern) below knee</li>
                                    <li>Black trouser (optional)</li>
                                    <li>Black ankle socks</li>
                                    <li>Black pullover with the school crest</li>
                                    <li>Black sleeveless pullover with school crest</li>
                                    <li>Black blazer with school crest</li>
                                    <li>Red Polo with school crest</li>
                                    <li>Black wrapper skirt with a red stripe</li> 
                                    <li>Plain black leather low heeled shoes</li>
                                    <li>white indoor shoes</li>
                                    <li>Plain Navy blues swimming costume</li>
                                    <li>Towel for swimming</li>
                                    <li>Apron for art (school pattern)</li>
                                    <li>Red cap with the school crest</li>
                                    <li>Black track suit with crest(school pattern)</li>
                                    <li>Plain red swim cap</li>
                                    <li>White laboratory coat</li>
                                
                           
                                           
									
								</ul>
					</div>
				</div>
<div >@RenderPage("~/Shared/Partials/_AdmissionLinks.cshtml")</div>