@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}






	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Schedule a Tour. </h1>

  </header>

      
     
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-body" >Have you wondered what it’s like here at Bunks and Biddles school?

Parents, we welcome you to come see our school in action and tour our campus. There’s no substitute for seeing first-hand how our invested teachers engage our students. We can’t wait to show you around!

How can students tell if our school is the right fit for them?

Schedule a classroom visit. Your student will spend the day shadowing one of our current students in kindergarten through eleventh grade. He or she will attend classes, enjoy lunch, and get to know our students. 

To schedule a tour or classroom visit, 
    
    <br/>
    contact ____________, Director of Admission at <code>info@bunksandbiddlesschools.ac.ke.</code> or <code>336-946-1657.</code> 


    </span>
<code>
We look forward to hearing from you 
</code>
</pre>


					</div>
					<div class="box">
						<pre>
<img src="~/Images/HeadOfSchool.jpg" alt="HeadOfSchool">

</pre>
					</div>
				</div>


     

        	  @RenderPage("~/Shared/Partials/_AdmissionLinks.cshtml")
		</div>	