@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}





	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Clubs And Services </h1>

  </header>


     
				<div class="row">
                    
					
                        
						<pre  >
<span class="win-type-subheader"> 
Students enrich their school experience and explore leadership opportunities? Clubs!
Every student has the opportunity to start, join, or lead a club.
</span>
<span class="win-type-body" >
Each division offers opportunities for students to explore their interests outside the classroom. These experiences promote personal development and help students discover unique abilities within themselves and others.
 
They are also given the opportunity to participate in service activities that allow them to understand of the importance of serving others and to develop a social commitment to the school and community. ademic learning while every child is exposed to the biblical principles which is what will take the child through life and its challenges. 

    </span>
</pre>

					
				</div>

  @RenderPage("~/Shared/Partials/_AcademicLinks.cshtml")
		</div>	