@{
     Layout = "~/Shared/layouts/_layout.cshtml";
    
}






	<div class="row">


                    
					<div class="box box--centered">
                        
						<pre  >
<span class="win-type-subheader" >Our Community </span>
<span class="win-type-body"> 
It’s an extended family where we are connected, supported, and engaged.

The Bunks experience draws upon a shared sense of community and respect. On our campus, teachers, staff, parents, and students all come together for one common goal – an exceptional educational experience.

In every way possible, through academics and exploration, we continually discover new ways to work and discover together, forming a unique bond that empowers the students now and inspires them well into the future. Above all, this shared spirit creates an environment where young minds can take risks and try new things.

We know we can all learn from one another. If you feel the same way, we invite you to be part of our collaborative community.

</span>

</pre>
					</div>
					<div class="box">
					<pre>
<span class="win-type-subheader">How Our Community Works!</span>
<span class="win-type-body">
   * Our teachers and students build special bonds. They know each other well. The lines of communication are always open so the learning can go both ways.

   * Our parents are welcome any time. We encourage them to play an active role in their child’s education. Because they’re an integral part of our collaborative community, we respect their feedback and thank them for their involvement.

   * It’s pretty remarkable to see our students interact with their teachers, advisors, college counselors, coaches, directors, and dining hall servers. In our nurturing environment, they grow to become inquisitive learners, advocates, and leaders. Students are clearly at the center of our community.

   * Our students serve their community – both on and off campus. Being part of something bigger than themselves creates caring and compassionate individuals.


</span>

</pre>
					</div>
				</div>




	


  <section class="mockup-section paint-area color-5">
						<div class="mockup-content mockup-grid">
                            	<div class="mockup-grid__item mockup-width--full">
                                   
                      @RenderPage("~/Shared/Partials/_Events.cshtml")   
	</div>
                           
                           
						</div><!-- /mockup-grid -->
					</section>
          






     @RenderPage("~/Shared/Partials/_AcademicLinks.cshtml")