@{
     Layout = "~/Shared/layouts/_layout.cshtml";
    
}

	<div class="row">


                    
					<div class="box box--centered">
                        
						<pre  >
<span class="win-type-subheader" >Health Services</span>
<span class="win-type-body"> 
  The main objectives of this service is the prevention of illness as well as the promotion 
of health and well being of the students through:  
1)Early detection and care of students with health problems. 
2)Development of healthy attitudes and healthy behaviors by students . 
3)Ensure a healthy environment for children at school 
4)Prevention of communicable diseases at school  

</span>

</pre>
					</div>
					<div class="box box--centered">
                        <pre>
                        <span class="win-type-body"> 
					Services that are available:
1.Students are better prepared for learning when they are healthy, safe and happy.
2.The school health service staff can: Provide information and support to students (and their families) to help them make informed decisions about their health, wellbeing and development.
3.If required, refer students to another health professional within the school health service or to other agencies for further assessment, tests, diagnosis, treatment or therapy.
4.Work with teachers to support health education sessions.
5.Help school staff and parents to develop health care plans for students with special needs (e.g. chronic disease, physical disability or other complex health conditions).
The school health service is a confidential service. 

                          </span> 
</pre>  
					</div>
				</div>

@RenderPage("~/Shared/Partials/_AcademicLinks.cshtml")


    