@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}


	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Library </h1>

  </header>


     
				<div class="row">
                    
			
                        
						<pre >
<span class="win-type-body" >
The purpose of the school library is to help every member our community — students, staff, families  gain new knowledge, skills and dispositions for learning and personal development that they will use throughout their lives.
The primary objectives of library material selection are:

1.        To provide materials that will stimulate students' acquisition of factual knowledge, development of literary appreciation, aesthetic values and ethical standards;

2.       To provide a source of information which, when consulted, may enable pupils to make informed judgments;

3.       To provide materials containing a wide range of views on issues so that students may develop the practice of critical reading and thinking;

4.       To provide materials representative of religious, ethnic and cultural groups and their contribution to the American heritage; and,
5.       To place principle above personal opinion and reason above prejudice in the selection of materials of the highest quality in order to assure a comprehensive collection appropriate for the users of the library media center. 
    </span>
</pre>


				
			
				</div>
         @RenderPage("~/Shared/Partials/_AcademicLinks.cshtml")

   

        	 
       
		</div>	


	

