@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}


	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Welcome to the Bunks Parents' Association!  </h1>

  </header>



				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-body" >All parents are automatically members of the Parents' Association and are welcome to join us in pursuing our mission through volunteerism and involvement in Bunks. Please check out the events planned as well as ways to get involved.
We aim to:<br/>
     1.Build and strengthen links between our homes and our school.
     2.Raise money to support requests from school and parents for extraordinary equipment, activities and items of capital expenditure which may fall outside school budgets.
     3.Actively support the school in making all of our children’s nursery and school experiences stimulating, challenging and fun.


    </span>
</pre>
</div>
					<div class="box">
						<pre>
Our school community is stronger and better due to the contiunous support of our parents.We also thank the Lord for His manifestation.

</pre>
					</div>
				</div>
     @RenderPage("~/Shared/Partials/_AboutLinks.cshtml")
		
		</div>

