@{
    
Layout = "~/bunks/Shared/Layouts/_AdminLayout.cshtml";
 Page.Title = "General Comment"; 
 
 var db = Database.Open("BunksAndBiddlesSchool");


  var sqlSelect = "SELECT DISTINCT CommentTitle FROM KinderGeneralComments ORDER BY CommentTitle";

    var activities = db.Query(sqlSelect);

  sqlSelect = "SELECT * FROM KinderGeneralComments WHERE admissionNo  LIKE @0 AND CommentTitle LIKE @1 ";

 

  var admissionNo = "%" + Request["admissionNo"] + "%";

 var CommentTitle = "%" + Request["CommentTitle"] + "%";

 var result = db.Query(sqlSelect, admissionNo, CommentTitle);

  var columns = new[]{"generalCommentID", "CommentTitle",  "admissionNo", "comment", "teacherName", "daysAbsent"};

 
 var resultGrid = new WebGrid(source: result, rowsPerPage: 20);


    
}

<h1 class="win-type-header">General Comments</h1>

<a class="win-type-title" href="studentDetails"></a>





<form method="post">

<div class="" id="grid">
   
    
     <div class="detailColumn">
    Admission No: 
    <input class="win-textbox" type="text" name="admissionNo" value="@Request["admissionNo"]" />

        Activity: <select name="CommentTitle" class="win-dropdown">
                 <option></option>   
            @foreach(var item in activities ){
                <option @(Request["CommentTitle"] == item.CommentTitle ? " selected=\"selected\"" : "")>@item.CommentTitle</option>
            }
        </select>
    
      <input type="submit" class="win-button win-button-primary" /> 
        </div> 

    <div class="detailColumn"> <h1 class="win-type-title">Accelerated Christian Education  </h1> 
        <p class="win-type-body " style="color: #0094ff;">Filter Students Extracurriculum activities</p>
        </div>
   





<div class="">  
    @resultGrid.GetHtml(
        tableStyle: "webgrid",
        columns: resultGrid.Columns(

 resultGrid.Column("CommentTitle", " Comment Title"),

 resultGrid.Column("admissionNo", "Admission Number"),
 resultGrid.Column("comment", "Comment"),

 resultGrid.Column("teacherName", "Teacher"),
  resultGrid.Column("daysAbsent", "Days Absent"),
 resultGrid.Column(null,
                    null,
                    format: @<text>
                            <a class="win-button" href="PupilCommentDetails/@item.generalCommentID">
 Details
 </a>
 </text>),
      resultGrid.Column(null,null,format: @<text>
                            <a class="win-button " style="background: #0094ff; color:#fff;" href="DeleteGeneralComment/@item.generalCommentID">
  Delete
 </a>
 </text>) 
        )
        )
    </div>



     </div>

</form>




