@{     
    
    Layout = "~/bunks/Shared/Layouts/_AdminLayout.cshtml";     
    Page.Title = "Delete General Comment Result";          
    
    var generalCommentID = UrlData[0];     
    if (generalCommentID.IsEmpty()) {          
        Response.Redirect("~/bunks/Admin/KinderGeneralComments/");     
    }          
    
    var db = Database.Open("BunksAndBiddlesSchool");          
    
    if (IsPost)    
     {         
         var sqlDelete = "DELETE FROM KinderGeneralComments WHERE generalCommentID = @0";         
         db.Execute(sqlDelete, generalCommentID);         
         Response.Redirect("~/bunks/Admin/KinderGeneralComments/");
     }  

    var sqlSelect = "SELECT * FROM KinderGeneralComments WHERE generalCommentID = @0";
    var results = db.QuerySingle(sqlSelect, generalCommentID);   
        } 

 <p>         
        Are you sure you want to delete the @results.AdmissionNo classes?     
    </p>     
       
    <form action="" method="post" id="deleteForm">             
        <input class="win-button" type="button" onclick="window.location = '@Href("~/bunks/Admin/GeneralComments/")';" value="Cancel" />    
        <input class="win-button" type="submit" value="Delete" />         
    </form>     

   
