@{
  Layout = "~/Shared/Layouts/_AdminLayout.cshtml";
 Page.Title = "Extra Curriculum Results"; 
 
 var db = Database.Open("BunksAndBiddlesSchool");  

 

 var extraCurricularReportID = !UrlData[0].IsEmpty() ? UrlData[0] : "0"; 

  var sqlCommand = "SELECT DISTINCT extraCurricularTitle FROM KinderExtraCurricularReport ORDER BY extraCurricularTitle";

 var activities = db.Query(sqlCommand);

  sqlCommand = "SELECT * FROM KinderExtraCurricularReport WHERE admissionNo  LIKE @0 AND extraCurricularTitle LIKE @1 ";


   var admissionNo = "%" + Request["admissionNo"] + "%";

 var extraCurricularTitle = "%" + Request["extraCurricularTitle"] + "%";

  
 
 var extraCurricularResultID  = UrlData[0];
 
 var result = db.Query(sqlCommand, admissionNo, extraCurricularTitle, extraCurricularReportID);

 var columns = new[]{"extraCurricularResultID", "extraCurricularTitle",  "admissionNo", "comment", "teacherName"};

 var resultGrid = new WebGrid(source: result,
 rowsPerPage: 20); 


    
}







<h1 class="win-type-header">Kindergarten Pupil's Results</h1>

<a class="win-type-title" href="studentDetails"></a>


<div class="">  
   
    </div>






<form method="post">

<div class="" id="grid">
   
    
     <div class="detailColumn">
    Admission No: 
    <input class="win-textbox" type="text" name="admissionNo" value="@Request["admissionNo"]" />

        Activity: <select name="extraCurricularTitle" class="win-dropdown">
                 <option></option>   
            @foreach(var item in activities ){
                <option @(Request["extraCurricularTitle"] == item.extraCurricularTitle ? " selected=\"selected\"" : "")>@item.extraCurricularTitle</option>
            }
        </select>
    
      <input type="submit" class="win-button win-button-primary" /> 
        </div> 

    <div class="detailColumn"> <h1 class="win-type-title">Accelerated Christian Education  </h1> 
        <p class="win-type-body " style="color: #0094ff;">Filter Students Extracurriculum activities</p>
        </div>
    
     
    @resultGrid.GetHtml(
        tableStyle: "webgrid",
        columns: resultGrid.Columns(
 resultGrid.Column("extraCurricularTitle", "extraCurricularTitle"),
 resultGrid.Column("comment", "comment"),
 resultGrid.Column("admissionNo", "Admission Number"),
 resultGrid.Column("teacherName", "Teacher"),
 resultGrid.Column(null,
                    null,
                    format: @<text>
                            <a class="win-button" href="ExtraCurricularDetails/@item.extraCurricularReportID">
 Details
 </a>
 </text>),
       resultGrid.Column(null,
                    null,
                    format: @<text>
                            <a class="win-button" style="background: #0094ff;" href="DeleteExtraCurricula/@item.extraCurricularReportID">
  Delete
 </a>
 </text>) 
        )
        )
    </div>

</form>

