@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}

  <header class="codrops-header">
      <h1 class="win-type-header">Kindergarten &amp; Primary</h1>
      <br/>
  </header>


 <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;"> </h1>

  </header>

<div class="row">
                    
					
<h4 class="win-type-subheader" >Bunks and Biddles School seeks to enroll academically qualified students with diverse backgrounds and talents who will make a positive contribution to the life of the school.</h4>
    <br/>

				</div>
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-header" >
Below are the steps to apply to Bunks and Biddles Schools.
    </span>
</pre>



					</div>
					<div class="box">
						<pre>
<span class="win-type-subheader">Apply</span>
<code >
Admission is rolling so please apply early as first-round acceptance is sent in August.


						</code>

</pre>
					</div>
				</div>
<div class="row">
                    
					<div class="box box--centered">
                        
					<ul class="dl-submenu win-type-subheader">
									<li> ~ Schedule a tour</li>
                                    <li> ~ Submit your application</li>
                                   <li> ~ Arrange a classroom visit for your child</a></li>
                                  
                                     <li> ~ Complete admission testing/screenings</a></li>
                                     <li> ~ Send us recommendations and transcripts</a></li>
                                           
									
								</ul>



					</div>
					<div class="box">
						<pre>
<span class="win-type-subheader">School Uniforms available from</span>
<code >
ANIMET LTD, 3<sup>rd</sup> floor, Yaya centre, 
P.O. BOX 76221-00508 Nairobi
Tel: (254-020) 3861578/2730922
						</code>
<a class="color-12" href="#">Kindergarten and Primary School Uniform</a>
<a class="color-12" href="#">Secondary School Uniform</a>
<a class="color-12" href="#">Dance</a>
<a class="color-12" href="#">Horse riding</a>
</pre>
					</div>
				</div>
<div >@RenderPage("~/Shared/Partials/_AdmissionLinks.cshtml")</div>