@{
    
}

<div class="flyout" id="fromLavington" data-win-control="WinJS.UI.Flyout">

  <p class="win-type-body">
Drive on James Gichuru road to Gitanga road Junction, turn left on Gitanga 
      road about 2kms to Othaya road, the left 800metres to Bunks school lavington.
    </p>

    </div>
