@{
    
}

<div class="flyout" id="fromCity" data-win-control="WinJS.UI.Flyout">
<p class="win-type-body">
Drive on Valley road to Ngong road next to Baptist church round about. 
    Turn right on to Ngong road for about 4kms to Ring road Kilimani on your right, about 2 kms turn left on Gitanga road, for about 3 kms, then take a right turn on to Othaya road. 
    800mtrs on your left is bunks and biddles Lavington.
    </p>
    </div>
