@{
    
}

<div class="flyout" id="fromKilimani" data-win-control="WinJS.UI.Flyout">
<p class="win-type-body">
Take Dennis Pritt road to Gitanga road left turn, for about 3 kms, 
    to Othaya road, then take a right turn for 800m. Bunks school Lavington is on your left on Othaya road.
    </p>
    </div>
