@{
    
}

<div class="flyout" id="fromKaren" data-win-control="WinJS.UI.Flyout">
<p class="win-type-body">
Take Ngong road to junction mall, then turn left on to Kingara road for about 2kms, then right on to Gitanga road for about 2kms, then left on to Othaya road. Bunks schools lavington is on the left, 800mtrs on Othaya road.
    </p>
    </div>
