
@{
     Layout = "~/bunks/Shared/layouts/_layoutKinder.cshtml";
    Page.Title = "Home Page";
    
}


 <div class="detailColumn" >
          
       
             </div>
          
         <div class="detailColumn" >
          
       
             </div>

         <div class="detailColumn" >
            <progress class="win-ring win-large win-error" ></progress>   
               <h1 class="win-type-title" style="color: #2072a7;">Loading Montessori Student list is successful.</h1>
           
       
             </div>
          <div class="detailColumn" > <h1 class="win-type-header">
              Site is in healthy condition. </h1> 
              <h1 class="win-type-title">
              Please fill your reports in good time to avoid service disruption</h1> 
          
          </div>











 
	
				
					
                    
				










