
@{
     Layout = "~/bunks/Shared/layouts/_Maintenance.cshtml";
    Page.Title = "Home Page";
    
}


        
         <div class="detailColumn" >
          
       
             </div>
          
         <div class="detailColumn" >
          
       
             </div>

         <div class="detailColumn" >
            <progress class="win-ring win-large win-error" ></progress>   
               <h1 class="win-type-title" style="color: #2072a7;">Loading will fail...</h1>
           
       
             </div>
          <div class="detailColumn" > <h1 class="win-type-header">
              Site is under maintenance. </h1> 
              <h1 class="win-type-title">
              Please wait as we complete the process</h1> 
          
          </div>
       
        

    

  