@{
    
 if (!WebSecurity.IsAuthenticated)     
 {        
      string currentUrl = Request.Url.ToString();         
      Response.Redirect("~/bunks/Account/LoginKinder?sender=" + currentUrl);     
    } 
    Layout = "~/bunks/Shared/Layouts/_LayoutKinder.cshtml";
   PageData["Colors"] = new []{"#000;", "Gainsboro", "Chocolate"};

    var kindergartenTitle = UrlData[0];

    if (kindergartenTitle.IsEmpty())
    {
        Response.Redirect("bunks/KinderDefault");
    }

    Page.Title = kindergartenTitle;

    var db = Database.Open("BunksAndBiddlesSchool");
    var sqlSelect = "SELECT pupilID, firstName, otherNames, admissionNo FROM Pupils " +
                "LEFT OUTER JOIN Kindergarten ON Pupils.kindergartenLevel = Kindergarten.KindergartenID " + 
                "WHERE Kindergarten.KindergartenTitle = @0";

    var pupils = db.Query(sqlSelect, kindergartenTitle);
    
}

<div id="contentTitle">     
    <h1 class="win-type-body">@kindergartenTitle</h1> 
</div> 
@if (pupils.Count() == 0) 
{     
   <p class="win-type-subheader">         
        No Pupil found in this Learning center.   
   </p>  
   <p class="win-type-title" style="color: #cc021c">       
        Try browsing one of the Learning Center listed to the left.   
                    
    </p> 
}
else
{
    <text>
  
           
     @foreach (var item in pupils ) {

      
     <div class="Column" >
             <h1 class="win-type-header">@item.firstName @item.otherNames</h1>
          <div class="detailColumn">
<p class="win-type-title"> @item.admissionNo </p>

              <a href="~/bunks/General/@item.pupilID">  
  <div   data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'General Comments' }"></div></a>  
               </div>
         <div class="detailColumn">
         <p class="win-type-body" style="color: #808080;">Below is a list of activities done by each student from the kindergarten section</p>
      </div>
          </div>

           
 <div data-win-control="WinJS.UI.NavBarContainer" 	class="headerColumn">

    <a href="~/bunks/PracLife/@item.pupilID">  
  <div   data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Practical Life' }"></div></a>
   
    <a href="~/bunks/Sensorial/@item.pupilID">   
        <div id="sensorial" data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Sensorial' }"></div> </a>
    <a href="~/bunks/Language/@item.pupilID"> 
      <div id="language"  data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Language' }"></div>
        </a>
    <a href="~/bunks/Mathematics/@item.pupilID"> 
     <div id="mathematics" data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Mathematics' }"></div>
        </a>
       
   <a href="~/bunks/Science/@item.pupilID"> 
        <div  data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Science' }"></div>
       </a>
            <a href="~/bunks/Biology/@item.pupilID"> 
        <div  data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Biology' }"></div>
       </a>
         <a href="~/bunks/History/@item.pupilID"> 
        <div  data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'History' }"></div>
       </a>
         <a href="~/bunks/Geography/@item.pupilID"> 
        <div  data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Geography' }"></div>
       </a>
     
         <a href="~/bunks/ArtCraft/@item.pupilID"> 
        <div  data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Art &amp; Craft' }"></div>
       </a>
         <a href="~/bunks/Music/@item.pupilID"> 
        <div  data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Music' }"></div>
       </a>
     
      
  
</div>  
         
     
      
 <div class="detailColumn"><a href="../../bunks/PupilReportDetail/@item.pupilID "   >                         
                          <div style="color: #000; background: #ef4135; margin-top: 5px;"  data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'View Progress', icon: 'view' }"> </div>                 
                        </a></div>
<div class="detailColumn">  
                  <a href="../../bunks/PupilPdf/@item.pupilID "   >                         
                          <div style="color: #000; background: #808080; margin-top: 5px;"  data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Generate Report', icon: '&#xE16D;' }"> </div>                 
                        </a>   </div>
 
         

 }
</text>
}
