@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}




        	
               	<aside >
						<div class="mockup-content mockup-grid">
							
							<figure class="mockup-grid__item mockup-width--half">
								<div class="mockup-img mockup-img--large"><img class="mockup-img" height="100%"  src="~/Images/4.jpg" alt="chess"></div>
							</figure>
							<div class="mockup-grid__item mockup-width--half">
								<div class="mockup-img mockup-img--large"><img height="100%" class="mockup-img"  src="~/Images/5.jpg" alt="chess"></div>
							</div>
						</div><!-- /mockup-grid -->
					</aside>
             
@RenderPage("~/Shared/Partials/_ClubLinks.cshtml")

