@{
     Layout = "~/Shared/layouts/_layout.cshtml";
    
}

          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">LAMDA </h1>

  </header>


     
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-body" >What is LAMDA? -London Academy of Music and Dramatic arts.

We Nurture character through performance and visual arts(PAVAS), the lessons instill the love of acting, poetry, speaking in public and the interest in animated stories. We offer LAMDA  exams to qualify performance students. 

The lessons can either be 1hr or 30min long depending on the age of the child from 3yr olds to high school level. 

We offer the subject as an extra curriculum activity which is done during club times. 

The children become outspoken, creative and have a lot of fun during the lessons. 

I look forward to being a LAMDA teacher in your school
    </span>
<code>

</code>
</pre>


					</div>
					<div class="box">
						<pre>
@* <img src="~/Images/HeadOfSchool.jpg" alt="HeadOfSchool"> *@

</pre>
					</div>
				</div>


       
					
					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--full">
								<h1 class="mockup-heading mockup-heading--large paint-area paint-area--text">
                                </h1>
							</div>
							
						</div><!-- /mockup-grid -->
					</section>
					
				</div><!-- /mockup-browser -->
			</div>
@RenderPage("~/Shared/Partials/_ClubLinks.cshtml")


    