@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}





	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Music </h1>

  </header>


     
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-body" >Music is a language of self-expression through organized sound.The pursuit of consistent and clear communication in this manner requires great mental and emotional investment.  From this our students are inspired to transfer methods of discovering oneself and the world to everyday life.  Plato once stated, “I would teach children music, physics, and philosophy; but most importantly music, for the patterns in music and all the arts are the keys to learning.” That is why at Bunks and Biddles Schools your child’s music education is important to us.  

The following are some objectives of music education at Bunks and Biddles:

    </span>
<code>

</code>
</pre>


					</div>
					<div class="box">
						<pre>
 <img src="~/Images/9.jpg" alt="Art"> 

</pre>
					</div>
				</div>


              <div class="content">
				<div class="mockup-browser">
					
					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--full">
								<h1 class="mockup-heading mockup-heading--large paint-area paint-area--text">
                                   
                                    <span class="win-type-header"> 
                                      Kindergarten
                                       
                                        </span>
                                     <span class="mockup-heading__subline win-type-body"> 
                                 
At the kindergarten stage the objectives of musical education include:
∙ Developing muscle coordination
∙ Increasing vocabulary and memory
∙ Appreciation for personal and diverse talents and culture
∙ Enjoyment
 
 </span>
                                    <span class="win-type-header"> 
                                      Elementary School
                                       
                                        </span>
                                     <span class="mockup-heading__subline win-type-body"> 
                                 
At the elementary stage the objectives of musical education include:
∙ Enhancing rhythmic development
∙ Introducing interval and solfa knowledge
∙ Exploring personal and diverse creativity
∙ Enjoyment
 
 </span>
                                    <span class="win-type-header"> 
                                      Elementary School
                                       
                                        </span>
                                     <span class="mockup-heading__subline win-type-body"> 
                                 
At the middle school the objectives of musical education include:
∙ Recorder playing
∙ Introducing sight reading and singing
∙ Composition
∙ Enjoyment
 
 </span>
                                     <span class="win-type-header"> 
                                      High School
                                       
                                        </span>
                                     <span class="mockup-heading__subline win-type-body"> 
                                 
In high school the objectives of musical education include:
∙ Understanding of basic music theory and history
∙ Intelligent music appreciation

∙ Enjoyment
 
 </span>
                                </h1>
							</div>
							
						</div><!-- /mockup-grid -->
					</section>
					
				</div><!-- /mockup-browser -->
			</div>

        	  @RenderPage("~/Shared/Partials/_ClubLinks.cshtml")
		</div>	