@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}

  <div class="content">
          <header class="codrops-header">
      <h1 class="win-type-sub-header" style="color: #000;">Skating </h1>

  </header>

				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-body" >This is the perfect way to combine fitness with fun. It helps people develop a fitness habit with a sport that’s enjoyable for all ages. It is also a perfect activity for childhood development. We offer all this thus making the child/children improve health wise, brain wise and also their social skills become better.

    </span>
<code>

</code>
</pre>
                        
					</div>
					
	<div class="box">
						<pre>
@* <img src="~/Images/HeadOfSchool.jpg" alt="HeadOfSchool"> *@

</pre>
					</div>

					</div>
			
				</div>	
		</div>	



@RenderPage("~/Shared/Partials/_AcademicLinks.cshtml")