@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}


	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">A walk into space club </h1>
<p></p>
  </header>



				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-title" >Weekly club where your child will connect with the wonders of the sky as well as approach STEM (Science Technology Engineering and Mathematics) education in fun alternative ways. 
<br>

    </span>
<code>

</code>
</pre>


					</div>
					<div class="box">
                       <span class="win-type-title"> OBJECTIVES </span>
						<pre>

To impact knowledge about our universe, to develop analytical and problem solving skills, to inspire the next generation of thinkers, innovators and pioneers in science, to show the fun side of science.

</pre>
					</div>
				</div>


        <div class="content">
				<div class="mockup-browser">
					
					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--full">
								<h1 class="mockup-heading mockup-heading--large paint-area paint-area--text">
                                   
                                    <span class="mockup-heading__subline"> 
                                        Justification
                                       
                                        </span>
                                     <span class="mockup-heading__subline win-type-body"> The children learn from professionals with backgrounds in astronomy and astrophysics, physics as well as engineering, they get to use one of the biggest telescopes in Kenya, use the planetarium, get to make space instruments in their projects like galileoscopes and spectroscopes that they get to keep, receive free virtual reality gear and get to use them, get to fly drones, launch their own model rocket, model planetary surfaces, do experiments in science, do some programming and robotics, watch space documentaries and special effect videos, skype with astronauts, access telescopes remotely, access the International Space Station live feed, interact with other walk into space club members from other schools among others as well as go on fun and educative field trips.
 </span>
                                </h1>
							</div>
							
						</div><!-- /mockup-grid -->
					</section>
					
				</div><!-- /mockup-browser -->
			</div>


			       @RenderPage("~/Shared/Partials/_ClubLinks.cshtml")
		
		</div>

