@{
     Layout = "~/Shared/layouts/_layout.cshtml";
    
}

          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Swimming </h1>

  </header>


     
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >

<span class="win-type-body" >Swimming
    </span>
<code>

</code>
</pre>


					</div>
					<div class="box">
						<pre>
@* <img src="~/Images/HeadOfSchool.jpg" alt="HeadOfSchool"> *@

</pre>
					</div>
				</div>


       
					
					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--full">
								<h1 class="mockup-heading mockup-heading--large paint-area paint-area--text">
                                </h1>
							</div>
							
						</div><!-- /mockup-grid -->
					</section>
					
				</div><!-- /mockup-browser -->
			</div>
@RenderPage("~/Shared/Partials/_ClubLinks.cshtml")


    