@{
    Layout = "~/Shared/layouts/_layout.cshtml";
    
}




        	
               	<aside >
						<div class="mockup-content mockup-grid">
							
							<figure class="mockup-grid__item mockup-width--half">
								<div class="mockup-img mockup-img--large"><img class="mockup-img" height="100%"  src="~/Images/4.jpg" alt="chess"></div>
							</figure>
							<div class="mockup-grid__item mockup-width--half">
								<div class="mockup-img mockup-img--large"><img height="100%" class="mockup-img"  src="~/Images/5.jpg" alt="chess"></div>
							</div>
						</div><!-- /mockup-grid -->
					</aside>
             




@RenderPage("~/Shared/Partials/_AcademicLinks.cshtml")





	<div class="content">
          <header class="codrops-header">
      <h1 class="win-type-header" style="color: #000;">Any responsibility embraced will encourage 
                                               effort and excellent work </h1>

  </header>
				<div class="row">
                    
					<div class="box box--centered">
                        
						<pre  >
<span class="win-type-subheader" >Maria Montessorri said, “The greatest sign of success for a teacher is to be able to say, "The children are now working as if I did not exist.”</span>
<span class="win-type-body"  >If you’re like most parents, you want your child to be taught of the Lord and great will be his/her peace, pursuing righteousness, and full of joy, safe, well-rounded, curious and excited to learn, and prepared for their God given destiny.
    </span>

</pre>
					</div>
					<div class="box">
						<pre>
<code class="win-type-body">
Bunks and Biddles schools was established in 1994 as Bunks and Biddles Kindergarten. 
    In 2004, Bunks and Biddles Primary School was opened offering the A.C.E curriculum (Accelerated Christian Education).
    Our Schools are sheltered on the serene Karen and Lavington environment.

Karen School is conveniently located off I-421 and is in close proximity to most area landmarks.
8 miles from Reynolda Village
9 miles from Thruway Shopping Center
10 miles from Wake Forest University

    Lavington School is conveniently located off I-421 and is in close proximity to most area landmarks.
8 miles from Reynolda Village
9 miles from Thruway Shopping Center
10 miles from Wake Forest University
						</code></pre>
					</div>
				</div>


        <div class="content">
				<div class="mockup-browser">
					
					<section class="mockup-section paint-area">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--full">
								<h1 class="mockup-heading mockup-heading--large paint-area paint-area--text">
                                    <span class="mockup-heading__subline win-type-body"> 
                                        At BBS, we know that students succeed in life when they are fully prepared 
                                        for the opportunities and challenges ahead.  
                                        That’s why Bunks education provides a balanced experience that focuses on academics 
                                        that enrich and interest that engage.
With small classes, invested teachers and a collaborative community, your child benefits from a supportive and inspiring 
                                        educational experience. At Bunks and Biddles school, learning is constant time is the variable. 
                                        </span></h1>
							</div>
							
						</div><!-- /mockup-grid -->
					</section>
					
				</div><!-- /mockup-browser -->
			</div>


			
		
		</div>


