
@{
     Layout = "~/bunks/Shared/layouts/_layoutKinder.cshtml";
    Page.Title = "Home Page";
    
}


  <h1 class="win-type-header">Home</h1>











 
	
				
					
                    
				










