@{     
    
    Layout = "~/Shared/Layouts/_AdminLayout.cshtml";     
    Page.Title = "Delete Kindergarten Classes";          
    
    var kindergartenID  = UrlData[0];     
    if (kindergartenID.IsEmpty()) {          
        Response.Redirect("~/Admin/Classes/");     
    }          
    
    var db = Database.Open("BunksAndBiddlesSchool");          
    
    if (IsPost)    
     {         
         var sqlDelete = "DELETE FROM Kindergarten WHERE kindergartenID = @0";         
         db.Execute(sqlDelete, kindergartenID);         
         Response.Redirect("~/Admin/Classes/");
     }  

    var sqlSelect = "SELECT * FROM Kindergarten WHERE kindergartenID = @0";
    var kindergarten = db.QuerySingle(sqlSelect, kindergartenID);   
 } 

<h1 class="win-type-header">Delete Kindergarten Class!</h1>


@if (!KinderAdmin.KindergartenIsEmpty(kindergartenID)) 
{     
    
    <p class="win-type-title"> Unable to delete !</p> 
    <p class="win-type-body">the @kindergarten.kindergartenTitle  class has students available in school.</p> 
}

else {     
    <p class="win-type-header">         
        Are you sure you want to delete the @kindergarten.kindergartenTitle class?     
    </p>     
       
    <form action="" method="post" id="deleteForm">             
        <input class="win-button" type="button" onclick="window.location = '@Href("~/Admin/Classes/")';" value="Cancel" />                      <input class="win-button" type="submit" value="Delete" />         
    </form>     

     }