@{     
       Layout = "~/bunks/Shared/Layouts/_AdminLayout.cshtml";     
       Page.Title = "Edit Kindergarten Classes";          
       
       // Get categoryId from URL, or set to 0 if not present     
       var kindergartenID = !UrlData[0].IsEmpty() ? UrlData[0] : "0";     
       var kindergartenTitle = "";          
       var db = Database.Open("BunksAndBiddlesSchool");

       if(IsPost)
       {
       kindergartenID = Request["kindergartenID"];
       kindergartenTitle = Request["kindergartenTitle"];

       //Validation
       if(kindergartenTitle.IsEmpty())
       {
           ModelState.AddError("kindergartenTitle", "kindergarten Title cannot be blank");
           
       }

       if(KinderAdmin.KindergartenExists(kindergartenTitle))
       {
           ModelState.AddError("kindergartenTitle", "Upper kindergarten already exists");
       }

       if(ModelState.IsValid)
       {
           var sqlUpdateKinder = "UPDATE Kindergarten SET kindergartenTitle = @0 WHERE kindergartenID = @1";
           db.Execute(sqlUpdateKinder, kindergartenTitle, kindergartenID);

           Response.Redirect("~/bunks/Admin/Classes");
       }


     }
     else
     {
         var sqlCommandKinder = "SELECT * FROM Kindergarten WHERE kindergartenID = @0 ";
         kindergartenTitle = db.QuerySingle(sqlCommandKinder, kindergartenID).kindergartenTitle;
     }
    
}

<div class="headerColumn"> 
    <a href="@Href("~/bunks/")"><img style="margin: 10px;" height="165px" src="../../../../images/Bunksandbiddleslogocolour.png" alt="bunkslogo"></a>
</div>

<h1 class="win-type-header">Edit Upper kindergarten</h1>  
<form action="" method="post">     
    <p>         kindergarten Title:  @Html.Hidden("kindergartenID", kindergartenID)         
                @Html.TextBox("kindergartenTitle", kindergartenTitle)         
        
        <input class="win-button" type="submit" value="Update" />         @Html.ValidationMessage("kindergartenTitle")     
    </p> </form> 
