@{     
       Layout = "~/bunks/Shared/Layouts/_AdminLayout.cshtml";     
       Page.Title = "Edit Upper Classes";          
       
       // Get categoryId from URL, or set to 0 if not present     
       var classID = !UrlData[0].IsEmpty() ? UrlData[0] : "0";     
       var classTitle = "";          
       var db = Database.Open("BunksAndBiddlesSchool");

       if(IsPost)
       {
       classID = Request["classID"];
       classTitle = Request["classTitle"];

       //Validation
       if(classTitle.IsEmpty())
       {
           ModelState.AddError("classTitle", "Class Title cannot be blank");
           
       }

       if(Admin.ClassExists(classTitle))
       {
           ModelState.AddError("classTitle", "Upper class already exists");
       }

       if(ModelState.IsValid)
       {
           var sqlUpdate = "UPDATE Classes SET classTitle = @0 WHERE classID = @1";
           db.Execute(sqlUpdate, classTitle, classID);

           Response.Redirect("~/bunks/Admin/Classes");
       }

     }
     else
     {
         var sqlCommand = "SELECT * FROM Classes WHERE classID = @0 ";
         classTitle = db.QuerySingle(sqlCommand, classID).classTitle;
     }
    
}

<div class="headerColumn"> 
    <a href="@Href("~/bunks/")"><img style="margin: 10px;" height="165px" src="../../../../images/Bunksandbiddleslogocolour.png" alt="bunkslogo"></a>
</div>

<h1 class="win-type-header">Edit Upper Classes</h1>  
<form action="" method="post">     
    <p>         Class Title:  @Html.Hidden("classID", classID)         
                @Html.TextBox("classTitle", classTitle)         
        
        <input class="win-button" type="submit" value="Update" />         @Html.ValidationMessage("classTitle")     
    </p> </form> 
